:root {
  --background-load-progress: hsla(0, 0%, 100%, 0.6);
  --background-play-progress: hsla(0, 0%, 100%, 0.9);
  --background-slider-progress: hsla(0, 0%, 100%, 0.25);
  --button-width: 40px;
  --default-background: hsl(0, 0%, 0%);
  --default-border-radius: 3px;
  --default-color: hsl(0, 0%, 13%);
  --default-font-family: "Roboto", sans-serif;
  --default-font-size: 14px;
  --default-height: 60px;
  --default-transition: 300ms ease;
  --idx-tap-button: 2147483647;
  --logo-src: url("img/dps.png");
  --logo-size: 20px;
  --primary-color: transparent;
  --tooltip-background: hsla(0, 0%, 0%, 0.6);
}

* {
  outline: 0;
}

html {
  font-size: 100%;
  line-height: 1.15;
  overflow-x: hidden;
}

body {
  background: var(--default-background);
  color: var(--default-color);
  font-family: var(--default-font-family);
  font-size: 1rem;
  margin: 0;
  position: relative;
}

.rudo-title:has(.rudo-title__label:empty) {
  background: none !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing+.rudo-title {
  background: none !important;
}

/* # VERSION 2 */
.is-hidden {
  display: none !important;
}

.controls-banner {
  align-items: center;
  bottom: calc(var(--default-height) + 0.5rem);
  display: flex;
  font-size: 0;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: var(--default-transition);
  width: 100%;
}

.controls-banner__container {
  text-align: center;
  max-width: 100%;
}

.controls-banner__container>a {
  display: inline-block;
  max-width: 80%;
}

.controls-banner__container>a>img {
  display: block;
  width: 100%;
  height: auto;
}

.controls-banner__container * {
  max-width: 100% !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .controls-banner {
  bottom: 0.75rem;
}

.vjs-has-started.vjs-user-inactive.vjs-playing+.controls-banner {
  bottom: 0.75rem;
}

@media screen and (max-width: 460px) {
  .controls-banner__container>a {
    display: inline-block;
    max-width: 50%;
  }

  .controls-banner {
    bottom: calc(var(--default-height) + 0.25rem);
  }

  .controls-banner__container>* {
    transform: scale(0.5);
    transform-origin: bottom center;
  }
}

.bumpable-ima-ad-container iframe {
  position: relative;
  z-index: 1000;
  bottom: 1rem;
}

#rudo-video_ima-ad-container {
  z-index: 1111 !important;
}

.vjs-volume-tooltip {
  transition: var(--default-transition);
  opacity: 0;
  pointer-events: none;
}

.vjs-volume-bar:hover .vjs-volume-tooltip {
  opacity: 1;
}

.video-js {
  font-size: 16px;
}

.video-js .vjs-menu {
  font-family: var(--default-font-family) !important;
}

.no-touch .video-js .vjs-menu-settings .vjs-menu-content li:hover {
  background-color: hsla(0, 0%, 19%, 0.4);
}

.player-context-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px 10px;
  margin: 2px 0 0;
  box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.175);
  background-clip: padding-box;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-color: hsla(0, 0%, 11%, 0.9);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  line-height: 20px;
  white-space: nowrap;
  width: auto;
}

.player-context-menu.is-hidden {
  display: none;
}

.player-context-menu:hover {
  background-color: hsla(0, 0%, 5%, 0.9);
}

.rudo-icon {
  background-image: url("img/rudo-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 70px;
  height: 23px
}

.rudo-overlay-views {
  align-items: center;
  background-image: url("img/icon-view.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 17px auto;
  display: flex;
  height: 10px;
  padding-left: 22px
}

.rudo-title {
  font-size: var(--default-font-size);
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.4), transparent);
  color: hsl(0, 0%, 100%);
  display: none;
  line-height: 1;
  opacity: 1;
  filter: none;
  padding-bottom: 1.15em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.15em;
  pointer-events: none;
  transition: 0.25s ease-out;
  width: 100%;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
}

.rudo-title__label {
  transition: opacity 0.25s ease-out;
}

.vjs-has-started+.rudo-title {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.vjs-has-started.vjs-user-inactive.vjs-playing+.rudo-title {
  opacity: 0;
  transform: translateY(-20px);
}

.rudo-wrapper--header-visible .vjs-has-started+.rudo-title {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.rudo-wrapper--header-visible .vjs-has-started.vjs-user-inactive.vjs-playing+.rudo-title {
  transform: translateY(0);
  opacity: 1;
}

.rudo-wrapper--header-visible .vjs-has-started.vjs-user-inactive.vjs-playing+.rudo-title .rudo-title__label {
  opacity: 0;
}

.rudo-title__center {
  flex-grow: 1;
  text-align: left;
}

.rudo-title__number {
  align-items: center;
  display: inline-flex
}

.rudo-title__number:before {
  background-image: url("img/icon-view.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
  width: 17px;
  height: 10px;
  top: -1px
}

.rudo-title__right {
  text-align: right;
  text-shadow: none;
}

.rudo-wrapper .video-js,
.rudo-wrapper .video-js .rudo-wrapper .vjs-menu {
  font-family: var(--default-font-family) !important;
}

.video-js .vjs-big-play-button {
  background-color: transparent;
  border-color: hsl(0, 0%, 100%);
  filter: drop-shadow(0px 0px 4px hsla(0, 0%, 0%, 0.7));
}

.video-js .vjs-menu {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.video-js .vjs-menu-settings {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.video-js .vjs-progress-control .vjs-load-progress {
  background: var(--background-load-progress);
  opacity: 1 !important;
}

.video-js .vjs-progress-control .vjs-play-progress {
  background-color: var(--background-play-progress);
}

.video-js .vjs-progress-control .vjs-slider:before {
  background: var(--background-slider-progress)
}

.video-js .vjs-volume-bar.vjs-slider-vertical {
  background: var(--background-slider-progress);
  border-radius: var(--default-border-radius);
  border: 0;
}

.video-js .vjs-volume-level {
  background-color: var(--background-load-progress);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

.video-js .vjs-volume-level:before {
  background: var(--background-play-progress);
}

.vjs-quality-button .vjs-menu {
  right: 50%;
  transform: translateX(50%);
}

.vjs-audio-button .vjs-menu .vjs-menu-content li:hover,
.vjs-chapters-button .vjs-menu .vjs-menu-content li:hover,
.vjs-descriptions-button .vjs-menu .vjs-menu-content li:hover,
.vjs-quality-button .vjs-menu .vjs-menu-content li:hover,
.vjs-subs-caps-button .vjs-menu .vjs-menu-content li:hover,
.vjs-subtitles-button .vjs-menu .vjs-menu-content li:hover {
  background-color: hsla(0, 0%, 19%, 0.4);
}

.vjs-default-skin {
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh !important;
}

.vjs-poster {
  background-color: var(--default-background);
}

.vjs-rudo-control:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: var(--logo-src);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: var(--logo-size);
  height: var(--logo-size);
  transform: translate(-50%, -50%);
}

.vjs-vtt-thumbnail-display {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: -6px;
}

.vjs-pinterest-square,
.vjs-linkedin-square {
  display: none !important;
}

.vjs-sharing-container .vjs-sharing-body {
  max-width: 400px;
  width: 100%;
}

.vjs-sharing-container .vjs-share-icon:before {
  opacity: 0.9;
}

.vjs-sharing-container .vjs-share-icon:hover:before {
  color: hsl(0, 0%, 100%);
  opacity: 1;
}

.video-js .vjs-zoom-menu .vjs-zoom-level {
  background-color: var(--background-load-progress);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

.video-js .vjs-zoom-menu .vjs-zoom-level:before {
  background: var(--background-play-progress);
}

.video-js .vjs-zoom-menu .vjs-zoom-back {
  background: var(--background-load-progress);
}

.video-js .vjs-zoom-menu .vjs-zoom-slider {
  border-radius: var(--default-border-radius);
}

.video-js .vjs-zoom-menu .vjs-zoom-reset:hover {
  background-color: hsla(0, 0%, 19%, 0.4);
}

.video-js .vjs-zoom-menu .vjs-zoom-back {
  border-radius: var(--default-border-radius);
}

.rudo-wrapper {
  min-height: 100vh;
}

.vjs-has-started.vjs-fullscreen .rudo-title {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.vjs-has-started.vjs-fullscreen.vjs-user-inactive:not(.vjs-paused) .rudo-title {
  display: none;
  transform: translateY(-20px);
  opacity: 0;
}

.rudo-wrapper--header-visible .vjs-has-started.vjs-fullscreen .rudo-title {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.rudo-wrapper--header-visible .vjs-has-started.vjs-fullscreen.vjs-user-inactive:not(.vjs-paused) .rudo-title {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.rudo-wrapper--header-visible .vjs-has-started.vjs-fullscreen.vjs-user-inactive:not(.vjs-paused) .rudo-title .rudo-title__label {
  opacity: 0;
}

.rudo-related {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: var(--default-transition);
  justify-content: center;
  align-items: center;
}

.rudo-related.is-actived {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.rudo-related__container {
  max-width: 876px;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}

.rudo-related__list {
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}

.rudo-related-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: -4px;
}

.rudo-related__card {
  width: calc(33.333% - 4px);
  max-width: calc(33.333% - 4px);
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.rudo-related-card {
  position: relative;
  transition: 400ms ease-out;
}

.rudo-related-card.has-highlight .rudo-related-card__image {
  border: 3px solid hsla(0, 0%, 100%, 0.2);
  animation: box-blink 1.5s linear infinite alternate;
}

.rudo-related-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.rudo-related-card__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: var(--default-font-size);
  color: hsl(0, 0%, 100%);
  padding: 7px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.7);
}

.rudo-related-card__duration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  line-height: 1;
  padding: 4px;
}

.rudo-related__close {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 10;
}

.rudo-related__close:before {
  content: "\f115";
  font-family: "nuevo";
  font-size: 2.5em;
  cursor: pointer;
  text-shadow: 1px 0 0 hsla(0, 0%, 0%, 0.7);
}

.rudo-related-list .owl-next,
.rudo-related-list .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0 !important;
  width: 27px;
  height: 44px;
  background-size: 27px 44px !important;
}

.rudo-related-list .owl-next {
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.rudo-related-list .owl-prev {
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.rudo-related-list .owl-next.disabled,
.rudo-related-list .owl-prev.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.video-js .vjs-menu-settings {
  right: 93px;
}

.rudo-related__body {
  position: relative;
}

.rudo-related__text {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 15px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: var(--default-font-size);
  min-height: 16px;
}

.rudo-related-card__media {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.rudo-notification {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 362px;
  width: 100%;
  overflow: hidden;
  border-radius: var(--default-border-radius);
  display: none;
  z-index: 100;
}

.rudo-notification.is-actived {
  display: block;
}

.rudo-notification__wrapper {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.rudo-notification__media {
  width: 107px;
  position: relative;
}

.rudo-notification__media:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rudo-notification__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rudo-notification__content {
  padding: 16px 36px 16px 16px;
  flex-grow: 1;
}

.rudo-notification__title {
  font-size: var(--default-font-size);
  font-weight: 700;
  display: block;
}

.rudo-notification__close {
  display: block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('img/icon-close.png');
  position: absolute;
  top: 9px;
  right: 9px;
}

.rudo-wrapper.is-audio .vjs-poster {
  display: block !important;
}

.video-js .vjs-control-bar {
  background: linear-gradient(to bottom, transparent 0, hsla(0, 0%, 0%, 0.25) 39%, hsla(0, 0%, 0%, 0.33) 95%, hsla(0, 0%, 0%, 0.5) 100%);
  padding-left: 25px;
  padding-right: 25px;
  height: var(--default-height)
}

.video-js .vjs-time-control,
.video-js .vjs-cog-menu-button,
.video-js .vjs-control-bar .vjs-button,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.video-js .vjs-pip-control .vjs-icon-placeholder:before,
.vjs-icon-picture-in-picture-enter:before,
.vjs-icon-pip-enter:before,
.video-js .vjs-seek-to-live-control {
  line-height: var(--default-height) !important;
}

.video-js .vjs-quality-button .vjs-menu {
  width: 110px;
  transform: translateX(-50%);
}

.video-js.vjs-live .vjs-progress-control.vjs-control {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.vjs-back-res {
  height: auto;
  bottom: 55px;
  font-size: 12px;
  right: 10px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.vjs-back-res .vjs-res-block ul {
  padding-left: 0;
}

.vjs-back-res .vjs-res-block {
  margin-top: 7px;
  margin-bottom: 7px;
}

.vjs-back-res .vjs-res-block ul li {
  padding: 2px 10px;
  line-height: 18px;
}

.vjs-back-res .vjs-res-block ul .vjs-hd-icon {
  background: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 5px;
  display: none !important;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal .vjs-volume-level:before {
  top: -6px;
}

/* UPDATE 7.10.1.n */
.video-js .vjs-live-control {
  display: flex;
  align-items: center;
}

.video-js .vjs-cog-menu-button {
  position: relative;
}

.video-js .vjs-cog-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-js .vjs-menu-settings.vjs-lock-showing {
  opacity: 1;
  pointer-events: auto;
}

.video-js .vjs-menu-settings {
  opacity: 0;
  pointer-events: none;
}

.video-js .vjs-menu-settings .vjs-menu-div {
  height: auto !important;
  min-height: initial !important;
}

.rudo-wrapper--is-live .js-open-related {
  display: none !important;
}

.video-js .vjs-quality-button .vjs-menu-header {
  display: none !important;
}

.video-js .vjs-zoom-menu .vjs-zoom-return {
  font-size: 0.6em;
  text-transform: uppercase;
}

.video-js .vjs-quality-button span {
  pointer-events: none;
}

/* END UPDATE 7.10.1.n */

@media only screen and (max-width: 480px) {
  :root {
    --default-height: 45px;
  }

  .video-js .vjs-progress-control {
    width: 88%;
  }

  .video-js .vjs-volume-panel {
    width: 28px;
  }

  .video-js .vjs-volume-panel .vjs-volume-vertical,
  .video-js .vjs-volume-control {
    display: none !important;
  }

  .video-js .vjs-control-bar {
    height: auto;
    padding-bottom: 15px;
  }

  .video-js .vjs-seek-to-live-control,
  .vjs-live {
    line-height: 2 !important;
    align-self: flex-end;
  }

  .video-js .vjs-volume-panel {
    top: 0;
    height: var(--default-height);
  }

  .vjs-picture-in-picture-control {
    display: flex !important;
  }

  .vjs-live .vjs-control.vjs-button.vjs-cog-menu-button {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .video-js .vjs-mute-control.vjs-control {
    width: auto;
    margin-left: auto;
  }

  .video-js .vjs-control-bar .vjs-button,
  .video-js .vjs-time-control {
    top: 10px !important;
  }

  .video-js .vjs-live-control.vjs-control {
    flex-grow: 1;
  }
}

.video-js .rudo-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 300px) {
  .video-js .vjs-control-bar {
    padding-bottom: 8px;
  }
}

.video-js .vjs-volume-panel .vjs-volume-vertical {
  bottom: var(--default-height);
  background-color: transparent;
}

.video-js .vjs-chapters-button .vjs-menu,
.video-js .vjs-quality-button .vjs-menu,
.video-js .vjs-subs-caps-button .vjs-menu,
.video-js .vjs-subtitles-button .vjs-menu,
.vjs-audio-button .vjs-menu,
.vjs-descriptions-button .vjs-menu {
  bottom: var(--default-height);
}

.video-js .vjs-menu-settings {
  bottom: var(--default-height);
  right: 10px;
}

.video-js .vjs-time-control {
  font-size: 13px;
}

.video-js .vjs-quality-button {
  white-space: nowrap;
}

.video-js .vjs-control-bar .vjs-progress-control {
  top: 14px;
}

.tap-button {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5em 0.8em;
  border-radius: 5px;
  line-height: 1;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8em;
  color: hsl(0, 0%, 7%);
  z-index: var(--idx-tap-button);
  transform: translate3d(0, 0, 1px);
}

.tap-button::after {
  content: "";
  position: absolute;
  inset: 0;
  scale: 3;
}

.tap-button__icon {
  font-family: 'nuevo';
  font-style: normal;
  font-size: 1.4em;
  margin-right: 0.15em;
}

.tap-button__icon:before {
  font-size: 1em !important;
}

.player-has-muted .tap-button {
  display: flex;
}

.video-js .vjs-volume-level:before {
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  content: '';
  height: 16px;
  position: absolute;
  right: -5px;
  top: -8px;
  width: 16px;
  box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.66);
}

.vjs-live .vjs-progress-control .vjs-slider {
  display: none;
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
  content: "\e907"
}

@keyframes box-blink {
  0% {
    border-color: hsla(0, 0%, 100%, 0.2);
  }

  100% {
    border-color: hsla(0, 0%, 100%, 0.8);
  }
}

@media screen and (max-width: 767px) {
  .rudo-related-card {
    width: calc(50% - 4px);
    max-width: calc(50% - 4px);
  }

  .rudo-related__list,
  .rudo-related__text {
    padding-left: 0;
    padding-right: 0;
  }

  .rudo-related-list .owl-next,
  .rudo-related-list .owl-prev {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .video-js .vjs-control-bar {
    padding-left: 8px;
    padding-right: 8px;
  }

  .video-js .vjs-duration-display,
  .vjs-control-bar .vjs-time-control {
    display: block !important
  }

  .vjs-remaining-time.vjs-time-control.vjs-control {
    display: none !important;
  }

  .rudo-wrapper--is-live .video-js .vjs-duration-display,
  .rudo-wrapper--is-live .vjs-control-bar .vjs-time-control {
    display: none !important;
  }

  .video-js .vjs-button {
    width: 30px;
  }

  .rudo-wrapper--no-volume .vjs-volume-panel {
    display: none !important;
  }

  .video-js .vjs-menu-settings {
    bottom: 55px !important;
  }
}

@media screen and (max-width: 425px) {
  .rudo-notification {
    width: auto;
    left: 10px;
    max-width: 100%;
  }

  .rudo-notification__close {
    top: 5px;
    right: 5px;
  }

  .rudo-notification__media {
    width: 70px;
  }

  .rudo-notification__title {
    font-size: 12px;
  }

  .rudo-title__center {
    text-align: left
  }

  .video-js .vjs-control-bar .vjs-button {
    padding-left: 0;
    padding-right: 0;
  }

  .video-js .vjs-progress-control {
    margin: 0 10px;
  }

  .vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
    margin-right: 3px;
  }
}

html.hide-poster .rudo-wrapper.is-audio .vjs-poster {
  display: none !important;
}

.vjs-playing .vjs-poster,
.vjs-paused .vjs-poster {
  background-color: transparent;
}

.vjs-context-menu {
  display: none !important;
}

/* @media screen and (max-width: 374px) {
  .tap-button { display: none !important; }
} */

/* @media screen and (max-width: 320px) { */
@media screen and (max-width: 480px) {
  .vjs-button>.vjs-icon-placeholder:before {
    font-size: 20px;
  }

  .video-js .vjs-time-control {
    font-size: 10px;
  }

  .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
  .vjs-icon-volume-mute:before {
    font-size: 18px;
  }

  .video-js .vjs-quality-button span {
    font-size: 11px;
  }

  .video-js .vjs-cog-menu-button:before {
    font-size: 16px;
  }

  .video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
  .video-js .vjs-pip-control .vjs-icon-placeholder:before,
  .vjs-icon-picture-in-picture-enter:before,
  .vjs-icon-pip-enter:before {
    font-size: 20px;
  }

  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 15px;
  }

  .video-js .vjs-volume-panel {
    width: 18px;
  }

  .video-js .vjs-button {
    width: 23px;
  }

  .vjs-control.vjs-button.vjs-cog-menu-button,
  .vjs-quality-button.vjs-menu-button.vjs-menu-button-popup.vjs-button {
    display: flex;
    justify-content: center;
  }

  .video-js .vjs-spacer {
    display: none;
  }

  .video-js .vjs-quality-button {
    min-width: 32px;
  }

  .video-js .vjs-control-bar .vjs-button {
    display: flex;
    justify-content: center;
  }

  .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
  .vjs-icon-volume-mute:before {
    font-size: 18px;
  }

  .vjs-has-started.vjs-paused .vjs-control-bar,
  .vjs-has-started.vjs-playing .vjs-control-bar {
    display: flex;
    justify-content: space-between;
  }

  .vjs-back-res {
    font-size: 10px;
  }

  .vjs-back-res .vjs-res-block ul .vjs-hd-icon {
    font-size: 8px;
  }

  .vjs-back-res .vjs-res-block ul li {
    font-size: 9px;
    line-height: 12px;
  }

  .vjs-back-res .vjs-res-block ul .autores2 {
    font-size: 9px;
  }

  .vjs-back-res .vjs-res-header .vjs-close-btn {
    font-size: 16px;
    right: 5px;
  }

  .vjs-back-res .vjs-res-header {
    line-height: 26px;
    padding-left: 10px;
  }

  .vjs-back-res .vjs-res-block {
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .video-js .vjs-progress-control .vjs-play-progress:before {
    width: 11px;
    height: 11px;
    top: -3px;
    right: -3px;
  }

  .video-js .vjs-menu-settings .vjs-menu-content {
    font-size: 11px;
  }

  .video-js .vjs-menu-settings .vjs-menu-content li {
    line-height: 22px;
    height: 22px;
  }

  .video-js .vjs-menu-settings .vjs-related-icon,
  .video-js .vjs-menu-settings .vjs-share-icon {
    font-size: 14px;
  }

  .video-js .vjs-sharing-overlay {
    font-size: 9px;
  }

  .vjs-back-res {
    bottom: 55px;
  }

  .video-js .vjs-seek-to-live-control,
  .vjs-live {
    font-size: 11px;
  }

  .rudo-title {
    font-size: 12px;
  }

  .video-js .vjs-menu-settings {
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  .video-js .vjs-seek-to-live-control {
    padding-left: 5px;
    padding-right: 5px;
  }

  .vjs-submenu.vjs-zoom-menu {
    font-size: 12px;
  }

  .vjs-submenu.vjs-zoom-menu .vjs-zoom-reset {
    font-size: 10px;
  }

  .video-js .vjs-zoom-menu .vjs-zoom-slider {
    height: 50px;
  }

  .vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
    margin-left: auto;
  }

  .vjs-control-bar .vjs-chromecast-button .vjs-icon-placeholder:before {
    font-size: 15px;
  }

  .tap-button {
    font-size: 10px !important;
  }

  .vjs-has-started.vjs-paused .vjs-control-bar,
  .vjs-has-started.vjs-playing .vjs-control-bar {
    justify-content: flex-start;
  }

  .rudo-wrapper.rudo-wrapper--is-live .video-js .vjs-live-control.vjs-control {
    margin-left: auto;
  }

  .vjs-duration.vjs-time-control {
    flex-grow: 1;
    text-align: left;
  }

  .video-js .vjs-progress-control {
    width: calc(100% - 16px);
  }

  .video-js .vjs-quality-button .vjs-menu {
    bottom: calc(16px + var(--default-height));
  }

  .vjs-quality-button .vjs-menu .vjs-menu-content li {
    padding-left: 25px !important;
  }

  .video-js .vjs-menu-settings .vjs-menu-div {
    min-width: 140px;
  }

  .video-js .vjs-menu-settings .vjs-menu-content .vjs-speed {
    padding-left: 28px !important;
  }

  .video-js .vjs-menu-settings .vjs-menu-content {
    padding-block: 12px !important;
  }

  .video-js .vjs-menu-settings .vjs-menu-content .vjs-speed:not(:last-child) {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 425px) {
  .video-js .vjs-progress-control {
    width: calc(100% - 28px);
  }
}

@media screen and (max-width: 200px) {

  .vjs-quality-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button,
  .vjs-control.vjs-button.vjs-cog-menu-button,
  .vjs-picture-in-picture-control.vjs-control.vjs-button,
  .vjs-seek-to-live-control.vjs-control,
  .vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-button {
    display: none !important;
  }

  .vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
    margin-right: 5px;
  }

  /* .tap-button { font-size: 0.5em; } */
}

@media screen and (max-width: 150px) {
  .video-js .vjs-time-control {
    display: none !important;
  }
}

@media screen and (max-height: 170px) {
  .vjs-back-res {
    bottom: 12px;
  }
}

.livex {
  display: none;
}

.vjs-volume-tooltip {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.6);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.4em 0.6em;
  font-family: 'Roboto';
  font-weight: 700;
  border-radius: 0.3em;
  margin-left: 0.25em;
}

.vjs-volume-tooltip:empty {
  display: none !important;
}

.vjs-volume-tooltip:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid hsla(0, 0%, 0%, 0.6);
  left: 0;
  right: 0;
  margin: auto;
}

.video-js .vjs-volume-panel .vjs-volume-vertical {
  margin-bottom: -0.9rem;
}

.video-js .vjs-volume-bar.vjs-slider-vertical:before {
  border-radius: var(--default-border-radius);
  background-color: hsla(0, 0%, 100%, 0.45)
}

.vjs-quality-button span .vjs-hd-icon,
.video-js .vjs-chapters-button .vjs-menu .vjs-menu-content,
.vjs-audio-button .vjs-menu .vjs-menu-content,
.vjs-descriptions-button .vjs-menu .vjs-menu-content,
.vjs-quality-button .vjs-menu .vjs-menu-content,
.vjs-subs-caps-button .vjs-menu .vjs-menu-content,
.vjs-subtitles-button .vjs-menu .vjs-menu-content,
.video-js .vjs-menu-settings .vjs-menu-content li {
  font-family: var(--default-font-family);
}

.video-js .vjs-control.vjs-button.vjs-cog-menu-button:focus-within .vjs-menu-settings {
  opacity: 1;
  pointer-events: auto;
  background-color: hsla(0, 0%, 0%, 0.3) !important;
}

.video-js .vjs-control.vjs-button.vjs-cog-menu-button:focus-within .vjs-menu-div.vjs-settings-div {
  width: auto !important;
}

@media screen and (max-width: 250px) {

  .video-js .vjs-seek-to-live-control,
  .vjs-live {
    font-size: 9px;
  }

  .video-js .vjs-control-bar {
    padding-left: 4px;
    padding-right: 4px;
  }

  .video-js .vjs-live-control {
    padding-left: 4px;
    padding-right: 4px;
  }

  .vjs-button>.vjs-icon-placeholder:before {
    font-size: 16px;
  }

  .vjs-play-control {
    width: auto !important;
  }

  .video-js .vjs-live-display:before {
    width: 6px;
    height: 6px;
  }

  .vjs-rudo-control:after {
    width: 14px;
    height: 14px;
  }

  .vjs-chromecast-button.vjs-control.vjs-button,
  .vjs-picture-in-picture-control.vjs-control.vjs-button {
    display: none !important;
  }

  .video-js .item-quality {
    padding: 0px 10px !important;
    font-size: 10px;
  }
}

/* VER 8.3.0.n */
.video-js>.vjs-chromecast-button,
.video-js>.vjs-b-p-b,
.video-js>.vjs-b-r-b,
.video-js>.vjs-b-f-b,
.video-js>.vjs-replay-button,
.vjs-control-bar .vjs-rewind-control {
  display: none !important;
}

.vjs-poster img {
  display: block;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.vjs-poster img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-js:not(.vjs-has-started) .vjs-loading-spinner[style*="opacity: 1"] {
  display: block;
}

/* DVR */
.rudo-wrapper--is-dvr .video-js.vjs-live .vjs-progress-control.vjs-control {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.rudo-wrapper--is-dvr .vjs-live .vjs-progress-control .vjs-slider {
  display: block;
}

.rudo-wrapper {
  min-height: 100dvh;
}

.vjs-default-skin {
  height: 100dvh !important;
}

/* MODE 9/16 */
.mode-9-16 {
  --mode-9-16-icon-size: 96px;
  --mode-9-16-gap: 1rem;
}

.mode-9-16 .video-js {
  width: auto !important;
  aspect-ratio: 9/16;
  margin-left: auto;
  margin-right: auto;
}

.mode-9-16 .video-js .vjs-control-bar {
  opacity: 0;
  pointer-events: none;
}

.mode-9-16 .video-js .vjs-big-play-button {
  background-image: url('./img/sprite-player.png');
  background-size: auto;
  border: 0;
  width: var(--mode-9-16-icon-size) !important;
  height: var(--mode-9-16-icon-size) !important;
  background-position: 0 0 !important;
}

.mode-9-16 .video-js.vjs-has-started.vjs-paused .vjs-big-play-button {
  background-position: 0 calc(var(--mode-9-16-icon-size) * -1) !important;
  display: block !important;
}

.rudo-wrapper:not(.mode-9-16) :where(.mode-9-16-caption, .mode-9-16-button) {
  display: none !important;
}

.mode-9-16 .mode-9-16-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: var(--mode-9-16-gap);
  display: flex;
  flex-direction: column;
  font-size: .95rem;
  line-height: 1.5;
  text-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.5);
}

.mode-9-16 .mode-9-16-button {
  background-image: url('./img/sprite-player.png');
  background-position: calc(var(--mode-9-16-icon-size) * -1) 0 !important;
  background-size: auto;
  border: 0;
  cursor: pointer;
  height: var(--mode-9-16-icon-size);
  position: absolute;
  right: var(--mode-9-16-gap);
  top: var(--mode-9-16-gap);
  transform-origin: top right;
  transform: scale(.6);
  width: var(--mode-9-16-icon-size);
}

.mode-9-16 .mode-9-16-button.has-volume {
  background-position: calc(var(--mode-9-16-icon-size) * -1) 0 !important;
}

.mode-9-16 .mode-9-16-button.has-mute {
  background-position: calc(var(--mode-9-16-icon-size) * -1) calc(var(--mode-9-16-icon-size) * -1) !important;
}

.mode-9-16 .video-js:not(.vjs-has-started) .mode-9-16-button {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* RUDO MARK BOX */
.rudo-mark-box {
  --block-size: var(--def-block-size);
  --def-block-size: 25px;
  --image-size: 40px;
  --inline-size: 25px;
  --opacity: 0.9;
  opacity: var(--opacity);
  position: absolute;
  transition: 100ms;
  z-index: 100;
}

.rudo-mark-box--br {
  bottom: var(--block-size);
  right: var(--inline-size);
}

.rudo-mark-box--bl {
  bottom: var(--block-size);
  left: var(--inline-size);
}

.rudo-mark-box--tr {
  top: var(--block-size);
  right: var(--inline-size);
}

.rudo-mark-box--tl {
  top: var(--block-size);
  left: var(--inline-size);
}

.rudo-wrapper:has(.vjs-has-started) :is(.rudo-mark-box--br, .rudo-mark-box--bl) {
  --block-size: var(--default-height);
}

.rudo-wrapper:has(.vjs-has-started) :is(.rudo-mark-box--br, .rudo-mark-box--bl):hover {
  --block-size: var(--default-height) !important;
}

.rudo-wrapper:has(.vjs-has-started.vjs-user-inactive.vjs-playing) :is(.rudo-mark-box--br, .rudo-mark-box--bl) {
  --block-size: var(--def-block-size);
}

.rudo-mark-box__logo {
  width: var(--image-size);
  height: auto;
  display: block;
}

@media screen and (max-width: 480px) {
  .rudo-wrapper:has(.vjs-has-started) :is(.rudo-mark-box--br, .rudo-mark-box--bl) {
    --block-size: 75px;
  }
}

@media screen and (max-width: 460px) {
  .rudo-mark-box {
    --inline-size: 12px;
  }
}

@media screen and (max-width: 374px) {
  .rudo-mark-box {
    --image-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .rudo-wrapper:has(.vjs-has-started) :is(.rudo-mark-box--br, .rudo-mark-box--bl) {
    --block-size: 65px;
  }
}

.vjs-has-started.vjs-paused .vjs-big-play-button {
  display: block !important;
}

.rudo-wrapper--is-ios .vjs-has-started.vjs-paused .vjs-big-play-button {
  display: none !important;
}

.rudo-wrapper.alt-play-button-layout .video-js .vjs-big-play-button {
  left: 2rem;
  bottom: 2.5rem;
  margin: unset;
  top: unset;
}

.rudo-wrapper.alt-play-button-layout .video-js.vjs-has-started .vjs-big-play-button {
  bottom: 4.5rem;
}

@media only screen and (max-width: 480px) {
  .rudo-wrapper.alt-play-button-layout .video-js .vjs-big-play-button {
    left: 3rem;
    bottom: 1.5rem;
  }

  .rudo-wrapper.alt-play-button-layout .video-js.vjs-has-started .vjs-big-play-button {
    bottom: 4.5rem;
  }
}

/* VER 8.20.0.n */
.video-js .vjs-cog-button {
  position: relative;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal.vjs-hover .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: block !important;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  transform: translateX(-50%) rotate(270deg);
  top: calc(var(--default-height) * -1);
  left: 50%;
  height: 30px;
  padding: 0 14px;
  width: calc(80px + 28px);
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal .vjs-volume-control.vjs-control.vjs-volume-horizontal .vjs-volume-bar {
  height: 6px;
  width: 80px;
  margin-top: 12px;
  position: relative;
  border-radius: 100vmax;
  background-color: var(--background-slider-progress);
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal.vjs-hover .vjs-volume-control.vjs-control.vjs-volume-horizontal .vjs-mouse-display {
  display: block !important;
}

.vjs-volume-tooltip {
  right: unset !important;
  left: 100%;
  bottom: 50%;
  margin: 0 !important;
  transform: translateY(50%) rotate(90deg);
  margin-left: 8px !important;
}

.video-js .vjs-seek-to-live-control {
  order: -1;
}

.video-js .vjs-live-control.vjs-control {
  order: -1;
}

.video-js .vjs-play-control {
  order: -2;
}

.vjs-duration.vjs-time-control {
  order: 1;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
  order: 2;
}

.vjs-subs-caps-button {
  order: 3;
}

.vjs-quality-button {
  order: 4;
}

.vjs-cog-menu-button {
  order: 5;
}

.vjs-picture-in-picture-control {
  order: 6;
}

.vjs-chromecast-button {
  order: 7;
}

.vjs-fullscreen-control {
  order: 8;
}

.vjs-rudo-control {
  order: 9;
}

.vjs-text-track-settings {
  background-color: hsla(0, 0%, 0%, 0.9) !important;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8), 0 0 0 100vmax hsla(0, 0%, 0%, 0.6);
}

.vjs-text-track-settings .vjs-track-settings-controls {
  bottom: 17px;
}

.vjs-text-track-settings label {
  padding-left: unset !important;
  margin-bottom: 8px;
  margin-left: -5px;
}

.vjs-menu-item.vjs-texttrack-settings {
  padding: 5px 12px !important;
}

.video-js .vjs-menu-settings {
  width: fit-content;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.vjs-remaining-time [aria-hidden] {
  display: none !important;
}

.video-js .vjs-menu,
.video-js .vjs-menu-settings {
  background-color: var(--tooltip-background) !important;
}

.vjs-subs-caps-button .vjs-menu .vjs-menu-content {
  background-color: transparent !important;
}

.video-js .vjs-control.vjs-button.vjs-cog-menu-button:focus-within .vjs-menu-settings {
  background-color: var(--tooltip-background) !important;
}

.vjs-settings-home {
  padding-block-end: 0.75rem;
}

.vjs-menu-settings .vjs-menu-title {
  line-height: 2.5;
  font-size: 1rem;
}

.vjs-menu .vjs-menu-item {
  font-size: 13px !important;
  padding: 5px 12px !important
}

.video-js .vjs-menu-settings .vjs-menu-content li {
  padding-inline: 14px !important;
}

.vjs-menu-div.vjs-settings-div {
  min-width: 110px;
}

.video-js .vjs-menu-settings .vjs-menu-content .vjs-speed {
  padding-left: 30px !important;
}

.video-js .vjs-zoom-menu .vjs-zoom-slider {
  margin: 14px auto 18px;
  max-width: 84px;
}

.ima-controls-div {
  height: 56px;
}

.vjs-quality-button .vjs-menu .vjs-menu-content li {
  padding-left: 25px !important;
}

@media screen and (max-width: 460px) {
  .video-js .vjs-control-bar {
    gap: 8px;
  }

  .vjs-play-control,
  .vjs-current-time,
  .vjs-time-divider {
    margin-right: -8px !important;
  }

  .vjs-control.vjs-button.vjs-cog-button {
    display: none !important;
    width: 1px;
    height: 1px;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
  }

  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    z-index: 100;
  }

  .vjs-playback-rate.vjs-menu-button {
    display: none !important;
    width: 1px;
    height: 1px;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
  }

  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal.vjs-hover .vjs-volume-control.vjs-control.vjs-volume-horizontal {
    display: none !important;
  }

  .video-js.vjs-ad-loading .vjs-control-bar,
  .video-js.vjs-waiting .vjs-control-bar {
    display: none !important;
  }
}

.rudo-wrapper--is-live .video-js .vjs-progress-control.vjs-control,
.rudo-wrapper--is-live .vjs-current-time,
.rudo-wrapper--is-live .vjs-current-time,
.rudo-wrapper--is-live .vjs-time-control {
  opacity: 0 !important;
}

.vjs-menu-title {
  line-height: 2.5;
  text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
}

.vjs-quality-button .vjs-menu .vjs-menu-content {
  background-color: transparent !important;
}

@media screen and (max-height: 320px) {
  .video-js .vjs-quality-button .vjs-menu {
    bottom: 48px;
  }

  .vjs-menu .vjs-menu-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .vjs-menu .vjs-menu-content {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .video-js .vjs-menu-settings {
    bottom: 48px;
  }

  .vjs-menu .vjs-menu-title {
    display: none;
  }

  .vjs-menu-settings .vjs-menu-title {
    display: none
  }

  .vjs-settings-home {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .video-js .vjs-menu-settings .vjs-settings-back {
    font-size: 12px !important;
    line-height: 3;
    padding-left: 6px !important;
  }

  .vjs-menu-div.vjs-settings-div {
    min-width: 70px;
  }

  .video-js .vjs-menu-settings .vjs-menu-content .vjs-speed {
    height: auto;
    line-height: 1.75;
  }

  .video-js .vjs-menu-settings .vjs-menu-content {
    padding-block: 4px;
  }

  .video-js .vjs-zoom-menu .vjs-zoom-slider {
    margin: 14px auto 10px !important;
  }
}

@media screen and (max-height: 180px) {
  .video-js .vjs-quality-button .vjs-menu {
    bottom: 40px;
  }

  .vjs-quality-button .vjs-menu .vjs-menu-content li {
    line-height: 1.3;
    font-size: 11px !important;
  }

  .video-js .vjs-big-play-button {
    width: 50px !important;
    height: 50px !important;
    background-position: center left 15px !important;
  }

  .video-js .vjs-menu-settings {
    bottom: 40px;
  }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  :root {
    --button-width: 32px;
  }

  .video-js .vjs-control-bar {
    padding-left: 12px;
    padding-right: 12px;
  }

  .video-js .vjs-button {
    width: var(--button-width);
  }

  .video-js .vjs-quality-button {
    min-width: var(--button-width);
    width: auto;
  }

  .video-js .vjs-volume-panel {
    width: var(--button-width);
  }

  .video-js .vjs-progress-control {
    margin: 0 14px;
  }
}

@media screen and (min-width: 461px) and (max-width: 480px) {
  .video-js .vjs-control-bar {
    gap: 8px;
  }
}

.rudo-wrapper--is-dvr .video-js.vjs-live .vjs-progress-control.vjs-control {
  opacity: 1 !important;
}

.ima-controls-div {
  z-index: 1000;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  pointer-events: none;
}

.rudo-wrapper.secure-content :is(.video-js, .rudo-title, #relacionados, #rudo-mark-box) {
  pointer-events: none !important;
  opacity: 0.4 !important;
}

.rudo-wrapper.secure-content::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: url('./img/lock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 86px auto;
}

.rudo-wrapper.secure-content .vjs-big-play-button {
  display: none !important;
}





/* Hide videojs remaining time during ads — IMA has its own countdown */
.video-js.vjs-ad-playing .vjs-remaining-time {
  display: none !important;
}

body .video-js.vjs-user-inactive.vjs-playing .ima-controls-div {
  bottom: 0 !important;
}

body .video-js.vjs-waiting:not(.vjs-ad-playing) .vjs-loading-spinner {
  opacity: 1 !important;
  display: block !important;
  z-index: 2000;
}

body .video-js.vjs-waiting:not(.vjs-ad-playing)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: 300ms ease;
}

/*video-js vjs-big-play-centered vjs-default-skin vjs-device-android vjs-controls-disabled vjs-touch-enabled vjs-workinghover vjs-v8 vjs-user-active vjs-layout-small vjs-ad-loading vjs-waiting vjs-480 vjs-has-started vjs-paused vjs-muted*/

.vjs-has-started.vjs-paused.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

@media only screen and (max-width: 480px) {
  .vjs-loading-spinner {
    margin-left: 0 !important;
    margin-top: 0 !important;
    translate: -50% -50%;
  }
}

#rudo-video_ima-ad-container,
.ima-controls-div {
  z-index: 2147483647 !important;
}

.ima-ad-container>div:first-of-type {
  z-index: 2147483646 !important;
  /* pointer-events: none !important; */
}

.vjs-text-track-settings {
  --border-radius: 0.25rem;
  --w: 600px;
  border-radius: var(--border-radius);
  display: flex;
  height: auto;
  max-width: var(--w);
}

@media screen and (max-width: 480px) {
  .vjs-text-track-settings {
    zoom: 0.8;
  }
}

.vjs-text-track-settings * {
  min-width: 0 !important;
}

.vjs-text-track-settings select {
  border: 0;
  padding: 8px !important;
}

.vjs-text-track-settings :is(select, input, button) {
  font-family: var(--default-font-family) !important;
}

.vjs-text-track-settings .vjs-track-settings-controls button {
  --clr-bg: hsl(3, 100%, 62%);
  --clr-bg-hover: color-mix(in srgb, var(--clr-bg), black 25%);
  background-color: var(--clr-bg) !important;
  box-shadow: 0 0 0.3125rem hsla(0, 0%, 0%, 0.2);
  color: white !important;
  font-size: 1rem !important;
  padding: 0.3rem 0.6rem !important;
  transition: background-color 0.2s ease-in-out;
}

.vjs-text-track-settings .vjs-track-settings-controls button:is(:hover, :focus) {
  background-color: var(--clr-bg-hover) !important;
}

.vjs-text-track-settings .vjs-modal-dialog-content {
  position: static;
}

.vjs-text-track-settings .vjs-track-settings-controls {
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
}

.vjs-text-track-settings fieldset {
  display: grid;
  gap: 0.4rem 1rem;
  grid-template-areas: "title title" "select1 select2";
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0 !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content {
  margin-block: 1rem;
  margin-bottom: 4.5rem;
  padding: 0 1rem !important;
  width: 100%;
}

.vjs-track-settings-colors>*+*,
.vjs-track-settings-font>*+*,
.vjs-modal-dialog-content>*+* {
  margin-top: 1rem !important;
}

.vjs-text-track-settings span,
.vjs-text-track-settings label {
  margin-left: unset;
}

.vjs-text-track-settings .vjs-track-settings-font fieldset {
  grid-template-areas: "title" "select";
  grid-template-columns: 1fr;
}

.vjs-text-track-settings .vjs-track-settings-font select {
  grid-area: select !important;
  margin-top: 0.25rem;
}

.vjs-text-track-settings label {
  margin-bottom: 0.25rem;
}

.vjs-text-track-settings select {
  margin-bottom: 0;
}

.vjs-text-track-settings legend {
  font-size: 1rem !important;
}

.vjs-text-track-settings fieldset :nth-child(1) {
  display: block;
  grid-area: title;
}

.vjs-text-track-settings fieldset :nth-child(2) {
  grid-area: select1;
}

.vjs-text-track-settings fieldset :nth-child(3) {
  grid-area: select2;
}

.vjs-subs-caps-button .vjs-menu-item-text {
  display: block;
}

.vjs-subs-caps-button .vjs-menu-item-text::first-letter {
  text-transform: uppercase;
}

.vjs-text-track-display {
  inset-block-end: calc(var(--default-height) - 0.75rem) !important;
  inset-block-start: 0 !important;
}

.rudo-wrapper-message {
  position: absolute;
  top: 3rem;
  right: 0;
  opacity: 0;
  z-index: 100;
  color: white;
  background: hsl(0 0% 0% / 0.5);
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
}

@keyframes showAndHide {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.rudo-wrapper-message.is-showed {
  animation: showAndHide 5s ease-out forwards;
}

.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-button .vjs-menu-item {
  position: relative;
  padding-left: 24px !important;
}

.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-button .vjs-menu-item.vjs-selected::before {
  font-family: nuevo;
  content: "\f00c";
  font-size: 0.8em;
  position: absolute;
  top: 7px;
  left: 7px;
}