.nota .contenido-nota blockquote,
.post .post-content blockquote,
.nota-content blockquote {
  box-sizing: border-box;
  border: 5px solid #ffffff;
  outline: 3px solid #eaecf0;
  color: #030c26;
  font-weight: bold;
  background-color: #eaecf0;
  padding: 33px;
  border-radius: 0;
  margin: 29px auto 25px;
}
.nota .contenido-nota blockquote a,
.post .post-content blockquote a,
.nota-content blockquote a {
  color: #447dff;
}

.dark-mode.dark-mode .nota .contenido-nota blockquote,
.dark-mode.dark-mode .post .post-content blockquote,
.dark-mode.dark-mode .nota-content blockquote {
  border: 5px solid #14202a;
  outline: 3px solid #293946;
  color: #d1d4d6;
  background-color: #293946;
}

.dark-mode.dark-mode .nota .contenido-nota blockquote a,
.dark-mode.dark-mode .post .post-content blockquote a,
.dark-mode.dark-mode .nota-content blockquote a {
  color: #4394ff;
}

.dark-mode.dark-mode#post .post .post-content blockquote h2,
.dark-mode.dark-mode#post .post .post-content blockquote h3,
.dark-mode.dark-mode .nota-content blockquote h2,
.dark-mode.dark-mode .nota-content blockquote h3 {
  color: #fff;
}
.spoiler-bbcl {
  overflow: hidden;
  position: relative;

  .spoiler-bbcl-checkbox {
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 99999;
    width: 100%;

    &:checked {
      display: none;
    }

    &:checked ~ .spoiler-bbcl-foreground {
      opacity: 0;
    }

    & ~ *:not(.spoiler-bbcl-foreground) {
      transition: filter linear 0.3s;
    }

    &:not(:checked) ~ *:not(.spoiler-bbcl-foreground) {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -ms-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px);
    }
  }

  .spoiler-bbcl-foreground {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    height: 100%;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: opacity linear 0.3s;
    width: 100%;
    z-index: 99998;
    pointer-events: none;
  }
}
