/* MODO ACCESIBLE ALTO CONTRASTE */
.modo-accesible-hc.modo-accesible-hc #footer .txt-logo-footer {
    font-weight: bold;
    font-size: 19px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc #footer .social-container .nav {
    width: 211px;
}

.modo-accesible-hc.modo-accesible-hc #footer .social-container .fab {
    font-size: 26px;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc #footer .nav {
    flex-wrap: wrap;
}

.modo-accesible-hc.modo-accesible-hc #footer .categories-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc #footer .categories-nav .nav-item:not(:last-child) .nav-link {
    background: transparent;
}

.modo-accesible-hc.modo-accesible-hc #footer .btn {
    border: none;
    width: auto;
    height: auto;
}

.modo-accesible-hc.modo-accesible-hc .tarifas-dropdown .btn {
    color: #FCD156 !important;
}

.modo-accesible-hc.modo-accesible-hc #footer .alliances-container .alliances-container-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #FCD156;   
}

.modo-accesible-hc.modo-accesible-hc #footer .social-container .whatsapp-btn {
    color: #240000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modo-accesible-hc.modo-accesible-hc #footer .social-container .whatsapp-btn .fa-whatsapp {
    color: #240000;
}

.modo-accesible-hc.modo-accesible-hc #footer .trust-project-logo span {
    font-size: 18px !important;
    color: #E8AE04 !important;
}

.modo-accesible-hc.modo-accesible-hc #footer .footer-bottom {
    color: #FCD156;
}


/* MODO ACCESIBLE DARK */
.modo-accesible-dark.modo-accesible-dark #footer .social-container .nav {
    width: 211px;
}

.modo-accesible-dark.modo-accesible-dark #footer .social-container .fab {
    font-size: 26px;
}

.modo-accesible-dark.modo-accesible-dark #footer .nav {
    flex-wrap: wrap;
}

.modo-accesible-dark.modo-accesible-dark #footer .categories-nav .nav-item:not(:last-child) .nav-link {
    background: transparent;
}

.modo-accesible-dark.modo-accesible-dark #footer .btn {
    border: none;
    width: auto;
    height: auto;
}

.modo-accesible-dark.modo-accesible-dark #footer .social-container .whatsapp-btn {
    color: #240000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modo-accesible-dark.modo-accesible-dark #footer .social-container .whatsapp-btn .fa-whatsapp {
    color: #240000;
}

/* MODO ACCESIBLE */
.modo-accesible.modo-accesible img.bbcl-logo-accesible-dark-footer {
    display: none !important;
}

.modo-accesible.modo-accesible #footer .social-container .nav {
    width: 211px;
}

.modo-accesible.modo-accesible #footer .social-container .fab {
    font-size: 26px;
}

.modo-accesible.modo-accesible #footer .categories-nav .nav-item:not(:last-child) .nav-link {
    background: transparent;
}

.modo-accesible.modo-accesible #footer .social-container .whatsapp-btn {
    color: #240000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modo-accesible.modo-accesible #footer .social-container .whatsapp-btn .fa-whatsapp {
    color: #240000;
}

/* MODO ALTO CONTRASTE  */
.high-contrast.high-contrast #footer .categories-nav .nav-item:not(:last-child) .nav-link {
    background: transparent;
}

.high-contrast.high-contrast #footer .categories-nav .nav-link {
    color: #E8AE04;
}

.high-contrast.high-contrast .tarifas-dropdown .btn {
    color: #E8AE04 !important;
}

.high-contrast.high-contrast #footer .alliances-container .alliances-container-title::before {
    background-color: #FCD156;
}

.high-contrast.high-contrast #footer .alliances-container .alliances-container-title {
    color: #E8AE04;
    border-bottom-color: #FCD156;
}

.high-contrast.high-contrast #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title {
    color: #E8AE04;
}

.high-contrast.high-contrast #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title::after {
    background-color: #FCD156;
}

.high-contrast.high-contrast #footer .trust-project-logo span {
    color: #FCD156 !important;
}

.high-contrast.high-contrast #footer .social-container .whatsapp-btn {
    color: #240000;
}

.high-contrast.high-contrast #footer .footer-bottom {
    color: #FCD156;
}

.high-contrast.high-contrast #footer .trust-project-logo span {
    color: #E8AE04 !important;
}

.high-contrast.high-contrast #footer .footer-bottom {
    color: #FCD156;
}

.high-contrast.high-contrast #footer .social-container .fab {
    color: #FCD156;
}

.high-contrast.high-contrast #footer .social-container .whatsapp-btn .fa-whatsapp {
    color: #240000;
}

/* LOGOS */
.logo-footer-hc {
    display: none !important;
}

.high-contrast.high-contrast #footer .alliances-container .alliances-navs-container .alliances-nav-container .nav .alliance-logo {
    display: none !important;
}

.modo-accesible-hc.modo-accesible-hc #footer .alliances-container .alliances-navs-container .alliances-nav-container .nav .alliance-logo {
    display: none !important;
}

.high-contrast.high-contrast .logo-footer-hc {
    display: inline-block !important;
}

.modo-accesible-hc.modo-accesible-hc .logo-footer-hc {
    display: inline-block !important;
} 

/* TRUST LOGO */
.high-contrast.high-contrast .trust-project-logo img {
    display: none !important;
}

.high-contrast.high-contrast .trust-project-logo .trust-project-logo {
    display: inline-block !important;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo img {
    display: none !important;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo .logo-footer-hc {
    display: inline-block !important;
}

/* AGRANDAR TEXTO NIVEL 1 */
.text-level-1.text-level-1 #footer .categories-nav .nav-link {
    font-size: 22px;
}

.text-level-1.text-level-1 #footer .tarifas-dropdown .btn {
    font-size: 22px !important;
}

.text-level-1.text-level-1 #footer .alliances-container .alliances-container-title {
    font-size: 19px;
    line-height: 19px;
}

.text-level-1.text-level-1 #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title {
    font-size: 19px;
    line-height: 19px;
}

.text-level-1.text-level-1 #footer .trust-project-logo span {
    font-size: 19px !important;
    line-height: 19px !important;
}

.text-level-1.text-level-1 #footer .trust-project-logo img {
    height: 50px !important;
}

/* AGRANDAR TEXTO NIVEL 2  */
.text-level-2.text-level-2 #footer .categories-nav .nav-link {
    font-size: 27px;
}

.text-level-2.text-level-2 #footer .tarifas-dropdown .btn {
    font-size: 27px !important;
}

.text-level-2.text-level-2 #footer .alliances-container .alliances-container-title {
    font-size: 24px;
    line-height: 24px;
}

.text-level-2.text-level-2 #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title {
    font-size: 24px;
    line-height: 24px;
}

.text-level-2.text-level-2 #footer .trust-project-logo span {
    font-size: 24px !important;
    line-height: 24px !important;
}

.text-level-2.text-level-2 #footer .trust-project-logo img {
    height: 60px !important;
}

/* AGRANDAR TEXTO NIVEL 3  */
.text-level-3.text-level-3 #footer .categories-nav .nav-link {
    font-size: 32px;
}

.text-level-3.text-level-3 #footer .tarifas-dropdown .btn {
    font-size: 32px !important;
}

.text-level-3.text-level-3 #footer .alliances-container .alliances-container-title {
    font-size: 28px;
    line-height: 28px;
}

.text-level-3.text-level-3 #footer .alliances-container .alliances-navs-container .alliances-nav-container .alliances-title {
    font-size: 28px;
    line-height: 28px;
}

.text-level-3.text-level-3 #footer .trust-project-logo span {
    font-size: 28px !important;
    line-height: 28px !important;
}

.text-level-3.text-level-3 #footer .trust-project-logo img {
    height: 70px !important;
}

.text-level-3.text-level-3 #footer .social-container {
    padding-block: 19px;
}