/* ------------- ALTO CONTRASTE NORMAL ------------- */

/* BODY */
.high-contrast.high-contrast {
    background-color: #1B1C1E;
}

body.high-contrast:not(.full-branding) .main.background-fade {
    background-image: none;
    background-color: #1B1C1E;
}

.high-contrast.high-contrast .container.main-top-container {
    background-color: #1B1C1E;
}

/* POST */
.high-contrast.high-contrast .post .post-category::before {
    background-color: #8899A6;
}

.high-contrast.high-contrast#post .post .post-category {
    border-bottom-color:  #8899A6;
    color: #FCD156;
}

.high-contrast.high-contrast#post .post .post-date {
    color: #FCD156;
}

.high-contrast.high-contrast#post .post .post-title {
    color: #E8AE04;
}

.high-contrast.high-contrast .autores-trust-project p {
    color: #E8AE04 !important;
}

.high-contrast.high-contrast .autores-trust-project .nombres a {
    color: #FCD156 !important;
}

.high-contrast.high-contrast .trust-project-logo {
    color: #E8AE04;
}

.high-contrast.high-contrast .politica-etica {
    color: #E8AE04 !important;
}

.high-contrast.high-contrast#post .post .post-image-credits-visits-container .post-image-credits {
    color: #E8AE04;
}

.high-contrast.high-contrast#post .post .post-image-credits-visits-container .post-visits-container {
    color: #E8AE04;
}

.high-contrast.high-contrast .autores-extra-trust-project {
    color: #E8AE04;
}

.high-contrast.high-contrast .autores-extra-trust-project a {
    color: #FCD156;
}

.high-contrast.high-contrast .post .post-content a {
    color: #FCD156;
}

/* RESUMEN */
.resumen-ia svg {
    display: none;
}

.high-contrast.high-contrast .resumen-ia svg {
    display: inline-block;
}

.high-contrast.high-contrast .resumen-ia img {
    display: none !important;
}

.high-contrast.high-contrast .container-resumen-ia .mostrar-parrafo-resumen .resumen-ia {
    background: #FCD156 !important;
    color: #002041;
}

.high-contrast.high-contrast .container-resumen-ia .resumen-ia .titulo-resumen {
    color: #002041 !important;
}

.high-contrast.high-contrast .resumen-ia.btn .fas.fa-chevron-down {
    color: #002041 !important;
}

.high-contrast.high-contrast .resumen-ia.btn .fas.fa-chevron-up {
    color: #002041 !important;
}

.high-contrast.high-contrast .resumen-generado {
    background-color: #0E0E0F !important;
    border: none;
}

.high-contrast.high-contrast .resumen-generado span {
    color: #FCD156 !important;
}
/* RESUMEN */

.high-contrast.high-contrast .post .post-content p {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content .lee-tambien-bbcl .lee-tambien-titulo::after {
    background-color: #FCD156;
}

.high-contrast.high-contrast .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    color: #FCD156;
}

.high-contrast.high-contrast .post .post-content .lee-tambien-bbcl::after {
    background-color: #FCD156;
}

.high-contrast.high-contrast .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h1 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h2 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h3 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h4 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h5 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content h6 {
    color: #E8AE04;
}

.high-contrast.high-contrast .post .post-content .destacador {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #000000 0);
    color: #E8AE04;
    background-color: #000000;
}

.high-contrast.high-contrast .post .post-content blockquote {
    border-color: #E8AE04;
    outline-color: #0E0E0F;
    background-color: #0E0E0F !important;
    color: #E8AE04;
}

.high-contrast.high-contrast .boton-correcciones {
    border-color: #FCD156 !important;
}

.high-contrast.high-contrast .boton-correcciones span {
    color: #E8AE04;
}

.high-contrast.high-contrast button[data-v-ad4d76a1] {
    color: #002041 !important;
    background-color: #FCD156 !important;
}

.high-contrast.high-contrast .botones-boogle-news-wsp {
    border-top-color: #FCD156;
    border-bottom-color: #FCD156;
}

.high-contrast.high-contrast .botones-google-news-wsp p {
    color: #E8AE04;   
}

/* + VISTO AHORA */
.high-contrast.high-contrast .section .section-title {
    color: #E8AE04;
    border-bottom-color:  #8899A6;
}

.high-contrast.high-contrast .realtime-article-title[data-v-816ebc16]{
    color: #E8AE04 !important;
}

/* NOTAS RELACIONADAS */
.high-contrast.high-contrast#post .post .post-related .post-related-title {
    color: #FCD156;
}

.high-contrast.high-contrast .related-articles > ::before {
    background-color: #FCD156;
    border-color: #FCD156;
}

.high-contrast.high-contrast .related-articles .article .article-title {
    color: #E8AE04;
}

.high-contrast.high-contrast .caja-cchc-2025 .contenedor {
    background-color: #d9d9d9;
}

/* TABLAS */
.high-contrast.high-contrast .tg th {
    background-color: #FCD156 !important;
    color: #0E0E0F  !important;
}

.high-contrast.high-contrast .tg td {
    color: #FCD156 !important;
}

/* LOGO THE TRUST PROJECT */
/* .trust-project-logo .trust-project-logo-hc {
    display: none;
}
  
.high-contrast.high-contrast .trust-project-logo .trust-project-logo-hc {
    display: flex;
    margin-left: 5px;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 800;
} */
 
.high-contrast.high-contrast .trust-project-logo .img-nm {
    display: none;
}

.high-contrast.high-contrast .trust-project-logo .img-dm {
    display: inline-flex !important;
}

/* .high-contrast.high-contrast .trust-project-logo .img-nm,
.high-contrast.high-contrast .trust-project-logo .img-dm {
    display: none;
} */

.high-contrast.high-contrast .post-content .bbcl-alert {
    color: #E8AE04;
}

.high-contrast.high-contrast .autores-trust-project .fa-envelope {
    color: #E8AE04 !important;
}


/* COMENTARIOS  */

/* .high-contrast.high-contrast .header-comments {
    border-color: #E8AE04;
}

.high-contrast.high-contrast .text-textoComentario[data-v-8508c1de] {
    color: #FCD156;
}

.high-contrast.high-contrast [data-v-e0933f39] {
    color: #E8AE04;
}

.high-contrast.high-contrast .text-blue-gray-700[data-v-8508c1de] {
    color: #E8AE04;
}

.high-contrast.high-contrast .bg-blue-gray-300\/30[data-v-e0933f39] {
    background-color: #0E0E0F;
}

.high-contrast.high-contrast .text-textoComentario[data-v-e0933f39] {
    color: #E8AE04;
}

.high-contrast.high-contrast .text-blue-gray-500[data-v-e0933f39] {
    color: #E8AE04;
}

.high-contrast.high-contrast .text-indigo-600[data-v-e0933f39] {
    color: #FCD156;
}

.high-contrast.high-contrast button[data-v-8508c1de] {
    color: #002041 !important;
    background-color: #FCD156 !important;
}

.high-contrast.high-contrast span[data-v-e0933f39] {
    color: #FCD156;
}

.high-contrast.high-contrast a[data-v-e0933f39] {
    color: #E8AE04;
}

.high-contrast.high-contrast button span[data-v-e0933f39] {
    color: #002041 !important;
}  

.high-contrast.high-contrast .main-comments {
    border-color: #E8AE04;
} */

/* COMENTARIOS  */
  .high-contrast#post .post .post-excerpt {
    background-color: #000 !important;
  }
  
  .high-contrast#post .post .post-excerpt::after {
    border: 13px solid black !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }
/* ------------- MODO ACCESIBLE ------------- */
.modo-accesible.modo-accesible {
    background-color: #F7F9FB;
}

/* .modo-accesible.modo-accesible .background-fade {
    background: transparent;
} */

body.modo-accesible:not(.full-branding) .main.background-fade {
    background-image: none;
    background-color: #F7F9FB;
}

.modo-accesible.modo-accesible .container.main-top-container {
    background-color: #F7F9FB;
}

.modo-accesible.modo-accesible#post .post .post-date {
    font-weight: bold;
}

.modo-accesible.modo-accesible#post .post .post-category {
    height: 64px;
    background: linear-gradient(to right, #1E40AF, #C0D1E4);
    gap: 10px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 25%;
    color: #F7F9FB;
    align-items: center;
}

.modo-accesible.modo-accesible .post .post-category::before {
    height: 0px;
    width: 0px;
}

.modo-accesible.modo-accesible .autores-trust-project p {
    font-size: 16px;
}

.modo-accesible.modo-accesible .trust-project-logo  span {
    font-size: 18px !important;
}

.modo-accesible.modo-accesible .politica-etica {
    font-size: 16px;
}

.modo-accesible.modo-accesible#post .post .post-related .post-related-title {
    font-size: 17px;
}

.modo-accesible.modo-accesible .related-articles .article .article-title {
    font-size: 18px;
}

.modo-accesible.modo-accesible#post .post .post-image-credits-visits-container {
    font-size: 15px;
}

.modo-accesible.modo-accesible .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 14px;
}

.modo-accesible.modo-accesible .post .post-content p {
    font-size: 19px;
}

.modo-accesible.modo-accesible .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 19px;
    line-height: 125%;
}

.modo-accesible.modo-accesible .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 18px;
    line-height: 125%;
}

.modo-accesible.modo-accesible#post .section-realtime .section-title {
    background: linear-gradient(90deg, #B91C1C 45.8%, rgba(185, 28, 28, 0.00) 100%);
    color: #F7F9FB;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 25%;
    line-height: 125%;
    padding: 10px;
}

.modo-accesible.modo-accesible .section .section-title::after {
    height: 0px;
}

.modo-accesible.modo-accesible .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 18px;
    line-height: 125%;
}

.modo-accesible.modo-accesible .text-14px[data-v-ad4d76a1] {
    font-size: 16px;
}
/* ------------- MODO ACCESIBLE ------------- */


/* ------------- MODO ACCESIBLE DARK ------------- */
.modo-accesible-dark.modo-accesible-dark {
    background-color: #1B1C1E;
}

/* .modo-accesible-dark.modo-accesible-dark .background-fade {
    background: transparent;
} */

body.modo-accesible-dark:not(.full-branding) .main.background-fade {
    background-image: none;
    background-color: #1B1C1E;
}

.modo-accesible-dark.modo-accesible-dark .container.main-top-container {
    background-color: #1B1C1E;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-date {
    font-weight: bold;
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-category {
    height: 64px;
    background: linear-gradient(to right, #1E40AF, #14202A);
    gap: 10px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 25%;
    color: #F7F9FB;
    align-items: center;
}

.modo-accesible-dark.modo-accesible-dark .post .post-category::before {
    height: 0px;
    width: 0px;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-title {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .autores-trust-project p {
    font-size: 16px;
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .autores-trust-project .nombres a {
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .trust-project-logo span {
    font-size: 18px !important;
    color: #F7F9FB !important;
}

.modo-accesible-dark.modo-accesible-dark .politica-etica {
    font-size: 16px;
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-related .post-related-title {
    font-size: 17px;
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .related-articles > ::before {
    background: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .related-articles .article .article-title {
    font-size: 18px;
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-image-credits-visits-container {
    font-size: 15px;
}

.modo-accesible-dark.modo-accesible-dark#post .post-image-credits-visits-container .post-image-credits {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark#post .post .post-image-credits-visits-container .post-visits-container {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .resumen-generado {
    background-color: #0E0E0F;
    color: #F7F9FB;
    border: none;
}

.modo-accesible-dark.modo-accesible-dark .resumen-generado span {
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 14px;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content p {
    font-size: 19px;
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content a {
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 19px;
    line-height: 125%;
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 18px;
    line-height: 125%;
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h1 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h2 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h3 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h4 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h5 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content h6 {
    color: #E0E8F2;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content blockquote {
    background-color: transparent;
    color: white;
}

.modo-accesible-dark.modo-accesible-dark .post .post-content .destacador {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #38BDF8 0);
    background-color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark#post .section-realtime .section-title {
    background: linear-gradient(90deg, #B91C1C 45.8%, rgba(185, 28, 28, 0.00) 100%);
    color: #F7F9FB;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 25%;
    line-height: 125%;
    padding: 10px;
}

.modo-accesible-dark.modo-accesible-dark .boton-correcciones {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .botones-google-news-wsp p {
    color: #F7F9FB
}

.modo-accesible-dark.modo-accesible-dark .section .section-title::after {
    height: 0px;
}

.modo-accesible-dark.modo-accesible-dark .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 18px;
    line-height: 125%;
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .text-14px[data-v-ad4d76a1] {
    font-size: 16px;
}

.modo-accesible-dark.modo-accesible-dark .caja-cchc-2025 {
    background-color: #d9d9d9;
}

.modo-accesible-dark.modo-accesible-dark .autores-trust-project .fa-envelope {
    color: #E0E8F2 !important;
}

.modo-accesible-dark.modo-accesible-dark .post-content .bbcl-alert {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .trust-project-logo .img-nm {
    display: none;
}

.modo-accesible-dark.modo-accesible-dark .trust-project-logo .img-dm {
    display: inline-flex;
}

/* COMENTARIOS  */

/* .modo-accesible-dark.modo-accesible-dark .header-comments {
    border-color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .text-textoComentario[data-v-8508c1de] {
    color: #38BDF8;
}

.modo-accesible-dark.modo-accesible-dark [data-v-e0933f39] {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .text-blue-gray-700[data-v-8508c1de] {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .bg-blue-gray-300\/30[data-v-e0933f39] {
    background-color: #0E0E0F;
}

.modo-accesible-dark.modo-accesible-dark .text-textoComentario[data-v-e0933f39] {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .text-blue-gray-500[data-v-e0933f39] {
    color: #F7F9FB;
}

.modo-accesible-dark.modo-accesible-dark .text-indigo-600[data-v-e0933f39] {
    color: #38BDF8;
} */

/* COMENTARIOS  */

.modo-accesible-dark#post .post .post-content .post-excerpt p {
    color: #1B1C1E !important;
}
/* ------------- MODO ACCESIBLE DARK ------------- */

/* ------------- MODO ACCESIBLE HC ------------- */
.modo-accesible-hc.modo-accesible-hc {
    background-color: #1B1C1E;
}

/* .modo-accesible-hc.modo-accesible-hc .background-fade {
    background: transparent;
} */

body.modo-accesible-hc:not(.full-branding) .main.background-fade {
    background-image: none;
    background-color: #1B1C1E;
}

.modo-accesible-hc.modo-accesible-hc .container.main-top-container {
    background-color: #1B1C1E;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-date {
    font-weight: bold;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-category {
    height: 64px;
    background-color: #154f91;    
    gap: 10px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 25%;
    color: #FCD156;
    align-items: center;
}

.modo-accesible-hc.modo-accesible-hc .post .post-category::before {
    height: 0px;
    width: 0px;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-title {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .autores-trust-project p {
    font-size: 16px;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .autores-trust-project .nombres a {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo span {
    font-size: 18px !important;
    color: #E8AE04 !important;
}

.modo-accesible-hc.modo-accesible-hc .politica-etica {
    font-size: 16px;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-related .post-related-title {
    font-size: 17px;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .related-articles > ::before {
    background: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .related-articles .article .article-title {
    font-size: 18px;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-image-credits-visits-container {
    font-size: 15px;
}

.modo-accesible-hc.modo-accesible-hc#post .post-image-credits-visits-container .post-image-credits {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc#post .post .post-image-credits-visits-container .post-visits-container {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .resumen-generado {
    background-color: #0E0E0F;
    color: #E8AE04;
    border: none;
}

.modo-accesible-hc.modo-accesible-hc .container-resumen-ia .mostrar-parrafo-resumen .resumen-ia {
    background: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .resumen-ia.btn .fas.fa-chevron-down {
    color: #002041 !important;
}

.modo-accesible-hc.modo-accesible-hc .resumen-ia.btn .fas.fa-chevron-up {
    color: #002041 !important;
}

.modo-accesible-hc.modo-accesible-hc .resumen-generado span {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 14px;
    color: #002041 !important;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content p {
    font-size: 19px;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content a {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 19px;
    line-height: 125%;
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 18px;
    line-height: 125%;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h1 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h2 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h3 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h4 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h5 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content h6 {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content blockquote {
    border-color: #E8AE04;
    outline-color: #0E0E0F;
    background-color: #0E0E0F !important;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .post .post-content .destacador {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #000000 0);
    color: #E8AE04;
    background-color: #000000;
}

.modo-accesible-hc.modo-accesible-hc#post .section-realtime .section-title {
    background-color: #012F60; 
    color: #E8AE04;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 25%;
    line-height: 125%;
    padding: 10px;
}

.modo-accesible-hc.modo-accesible-hc .boton-correcciones {
    color: #E8AE04;
    border: 1px solid #E8AE04
}

.modo-accesible-hc.modo-accesible-hc .botones-google-news-wsp p {
    color: #E8AE04
}

.modo-accesible-hc.modo-accesible-hc .section .section-title::after {
    height: 0px;
}

.modo-accesible-hc.modo-accesible-hc .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 18px;
    line-height: 125%;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .text-14px[data-v-ad4d76a1] {
    font-size: 16px;
}

.modo-accesible-hc.modo-accesible-hc .caja-cchc-2025 {
    background-color: #d9d9d9;
}

.modo-accesible-hc.modo-accesible-hc .autores-trust-project .fa-envelope {
    color: #E8AE04 !important;
}

/* .trust-project-logo-hc {
    display: none;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo img {
    display: none !important;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo-hc {
    display: inline-block !important;
} */

.modo-accesible-hc.modo-accesible-hc .trust-project-logo .img-nm {
    display: none;
}

.modo-accesible-hc.modo-accesible-hc .trust-project-logo .img-dm {
    display: inline-flex !important;
}

.modo-accesible-hc.modo-accesible-hc .post-content .bbcl-alert {
    color: #E8AE04;
}

/* COMENTARIOS  */

/* .modo-accesible-hc.modo-accesible-hc .header-comments {
    border-color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .text-textoComentario[data-v-8508c1de] {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc [data-v-e0933f39] {
    border-color: #E8AE04;
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .text-blue-gray-700[data-v-8508c1de] {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .bg-blue-gray-30\/30[data-v-e0933f39] {
    background-color: #0E0E0F;
}

.modo-accesible-hc.modo-accesible-hc .text-textoComentario[data-v-e0933f39] {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .text-blue-gray-500[data-v-e0933f39] {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .text-indigo-600[data-v-e0933f39] {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc button[data-v-8508c1de] {
    color: #E8AE04 !important;
    background-color: transparent !important;
    border: 1px solid #E8AE04
}

.modo-accesible-hc.modo-accesible-hc span[data-v-e0933f39] {
    color: #FCD156;
}

.modo-accesible-hc.modo-accesible-hc a[data-v-e0933f39] {
    color: #E8AE04;
}

.modo-accesible-hc.modo-accesible-hc .main-comments {
    border-color: #E8AE04;
} */

/* COMENTARIOS  */


.modo-accesible-hc.modo-accesible-hc .autores-extra-trust-project {
    color: #E8AE04 !important;
}

.modo-accesible-hc.modo-accesible-hc .autores-extra-trust-project a {
    color: #FCD156 !important;
}

.modo-accesible-hc#post .post .post-excerpt {
    background-color: #000 !important;
  }
  
.modo-accesible-hc#post .post .post-excerpt::after {
    border: 13px solid black !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}
  
/* ------------- MODO ACCESIBLE HC ------------- */

/* ------------- AGRANDAR TEXTO NIVEL 1 -------------  */
.text-level-1.text-level-1#post .post .post-category {
    font-size: 29px;
}

.text-level-1.text-level-1#post .post .post-date {
    font-size: 19px;
    line-height: 125%;
}

.text-level-1.text-level-1#post .post .post-title {
    font-size: 48px;
    line-height: 125%;
}

.text-level-1.text-level-1 .autores-trust-project p {
    font-size: 21px;
    line-height: 125%;
}

.text-level-1.text-level-1 .trust-project-logo {
    font-size: 24px;
    line-height: 125%;
}

.text-level-1.text-level-1 .politica-etica {
    font-size: 21px;
}

.text-level-1.text-level-1#post .post .post-related .post-related-title {
    font-size: 23px;
}

.text-level-1.text-level-1 .related-articles .article .article-title {
    font-size: 24px;
    line-height: 125%;
}

.text-level-1.text-level-1#post .post .post-image-credits-visits-container {
    font-size: 20px;
    line-height: 125%;
}

.text-level-1.text-level-1#post .post .post-image-credits-visits-container .post-visits-container .post-visits {
    font-size: 23px;
    line-height: 125%;
}

.text-level-1.text-level-1 .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 19px;
}

.text-level-1.text-level-1 .container.resumen-ia .mostrar-parrafo-resumen .resumen-ia {
    height: 50px !important;
}

.text-level-1.text-level-1 .resumen-generado span {
    font-size: 17px;
    line-height: 125%;
}

.text-level-1.text-level-1 .post .post-content p {
    font-size: 25px;
    line-height: 150%;
}

.text-level-1.text-level-1 .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 25px;
    line-height: 125%;
}

.text-level-1.text-level-1 .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 24px;
    line-height: 125%;
}

.text-level-1.text-level-1 .post .post-content h2 {
    font-size: 32px !important;
    line-height: 125% !important;
}

.text-level-1.text-level-1 .boton-correctiones span {
    font-size: 21px;
}

.text-level-1.text-level-1 .text-14px[data-v-ad4d76a1] {
    font-size: 21px;
}

.text-level-1.text-level-1 .botones-googles-news-wsp p {
    font-size: 20px !important;
    line-height: 125% !important;
}

.text-level-1.text-level-1 .botones-google-news-wsp .google-news {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.text-level-1.text-level-1#post .section-realtime .section-title {
    font-size: 29px;
}

.text-level-1.text-level-1 .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 24px;
    line-height: 125%;
}
/* ------------- AGRANDAR TEXTO NIVEL 1 -------------  */

/* ------------- AGRANDAR TEXTO NIVEL 2 -------------  */
.text-level-2.text-level-2#post .post .post-category {
    font-size: 37px;
    height: fit-content;
}

.text-level-2.text-level-2#post .post .post-date {
    font-size: 23px;
    line-height: 125%;
}

.text-level-2.text-level-2#post .post .post-title {
    font-size: 60px;
    line-height: 125%;
}

.text-level-2.text-level-2 .autores-trust-project p {
    font-size: 27px;
    line-height: 125%;
}

.text-level-2.text-level-2 #cbb-aux-container {
    align-items: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-level-2.text-level-2 .trust-project-logo {
    font-size: 30px;
    line-height: 125%;
}

.text-level-2.text-level-2 .politica-etica {
    font-size: 27px;
}

.text-level-2.text-level-2#post .post .post-related .post-related-title {
    font-size: 28px;
}

.text-level-2.text-level-2 .related-articles .article .article-title {
    font-size: 30px;
    line-height: 125%;
}

.text-level-2.text-level-2#post .post .post-image-credits-visits-container {
    font-size: 25px;
    line-height: 125%;
}

.text-level-2.text-level-2#post .post .post-image-credits-visits-container .post-visits-container .post-visits {
    font-size: 28px;
    line-height: 125%;
}

.text-level-2.text-level-2 .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 23px;
}

.text-level-2.text-level-2 .container.resumen-ia .mostrar-parrafo-resumen .resumen-ia {
    height: 60px !important;
}

.text-level-2.text-level-2 .resumen-generado span {
    font-size: 22px;
    line-height: 125%;
}

.text-level-2.text-level-2 .post .post-content p {
    font-size: 32px;
    line-height: 150%;
}

.text-level-2.text-level-2 .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 32px;
    line-height: 125%;
}

.text-level-2.text-level-2 .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 30px;
    line-height: 125%;
}

.text-level-2.text-level-2 .post .post-content h2 {
    font-size: 40px !important;
    line-height: 125% !important;
}

.text-level-2.text-level-2 .boton-correctiones span {
    font-size: 27px;
}

.text-level-2.text-level-2 .text-14px[data-v-ad4d76a1] {
    font-size: 27px;
}

.text-level-2.text-level-2 .botones-googles-news-wsp p {
    font-size: 25px !important;
    line-height: 125% !important;
}

.text-level-2.text-level-2 .botones-google-news-wsp .google-news {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.text-level-2.text-level-2#post .section-realtime .section-title {
    font-size: 37px;
}

.text-level-2.text-level-2 .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 30px;
    line-height: 125%;
}
/* ------------- AGRANDAR TEXTO NIVEL 2 -------------  */

/* ------------- AGRANDAR TEXTO NIVEL 3 -------------  */
.text-level-3.text-level-3#post .post .post-category {
    font-size: 44px;
    height: fit-content;
    padding: 0;
    align-items: baseline;
    flex-direction: column;
    padding-inline: 10px;
}

.text-level-3.text-level-3#post .post .post-date {
    font-size: 28px;
    line-height: 125%;
}

.text-level-3.text-level-3 .post .post-category::before {
    margin-bottom: 0;
}

.text-level-3.text-level-3#post .post .post-title {
    font-size: 72px;
    line-height: 125%;
}

.text-level-3.text-level-3 .autores-trust-project p {
    font-size: 32px;
    line-height: 125%;
}

.text-level-3.text-level-3 .aturoires-extra-trust-project {
    font-size: 28px;
    line-height: 125%;
}

.text-level-3.text-level-3 #cbb-aux-container {
    align-items: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.text-level-3.text-level-3 .trust-project-logo {
    font-size: 36px;
    line-height: 125%;
}

.text-level-3.text-level-3 .politica-etica {
    font-size: 32px;
}

.text-level-3.text-level-3#post .post .post-related .post-related-title {
    font-size: 34px;
}

.text-level-3.text-level-3 .related-articles .article .article-title {
    font-size: 36px;
    line-height: 125%;
}

.text-level-3.text-level-3#post .post .post-image-credits-visits-container {
    font-size: 30px;
    line-height: 125%;
}

.text-level-3.text-level-3#post .post .post-image-credits-visits-container .post-image-credits .fa-camera {
    font-size: 30px;
}

.text-level-3.text-level-3#post .post .post-image-credits-visits-container .post-visits-container .post-visits {
    font-size: 34px;
    line-height: 125%;
}

.text-level-3.text-level-3 .container-resumen-ia .resumen-ia .titulo-resumen {
    font-size: 28px;
}

.text-level-3.text-level-3 .container-resumen-ia .mostrar-parrafo-resumen .resumen-ia {
    height: 70px !important;
}

.text-level-3.text-level-3 .resumen-generado span {
    font-size: 26px;
    line-height: 125%;
}

.text-level-3.text-level-3 .post .post-content p {
    font-size: 38px;
    line-height: 150%;
}

.text-level-3.text-level-3 .post .post-content .lee-tambien-bbcl .lee-tambien-titulo {
    font-size: 38px;
    line-height: 125%;
}

.text-level-3.text-level-3 .post .post-content .lee-tambien-bbcl .lee-tambien-caja .lee-tambien-titular {
    font-size: 36px;
    line-height: 125%;
}

.text-level-3.text-level-3 .post .post-content h2 {
    font-size: 48px !important;
    line-height: 125% !important;
}

.text-level-3.text-level-3 .boton-correctiones span {
    font-size: 32px;
}

.text-level-3.text-level-3 .text-14px[data-v-ad4d76a1] {
    font-size: 32px;
}

.text-level-3.text-level-3 .botones-googles-news-wsp p {
    font-size: 30px !important;
    line-height: 125% !important;
}

.text-level-3.text-level-3 .botones-google-news-wsp .google-news {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.text-level-3.text-level-3#post .section-realtime .section-title {
    font-size: 44px;
}

.text-level-3.text-level-3 .realtime .realtime-article-title[data-v-816ebc16] {
    font-size: 36px;
    line-height: 125%;
}
/* ------------- AGRANDAR TEXTO NIVEL 3 -------------  */
