.osm_event_marker{border-color:rgba(0, 132, 104, 1)}.alpha_search .on{color:rgba(0, 132, 104, 1);border-bottom-color:rgba(0, 132, 104, 1)}.content p a, .content li a{border-bottom-color:rgba(0, 132, 104, 1)}.tags a, .mp-tagcloud-list a, .tagcloud-list a{font-family:"neuzeit-grotesk",sans-serif;background-color:rgba(0, 132, 104, 1)}.loc_marker, .curr_loc_marker, .osm_roundup_loc_marker, .ui-tabs-nav .ui-state-default.ui-state-active, .ui-tabs-nav .ui-state-default.ui-state-hover, .ui-tabs-nav .ui-state-default:hover, .mp-carousel .mp-swiper-pagination .mp-swiper-pagination-bullet-active, .tabberactive a{background-color:rgba(0, 132, 104, 1)}pre{line-height:150%}.mainnav, .subnav, .subnav_nested, #textnav, .header_links{font-family:"neuzeit-grotesk",sans-serif;font-weight:normal;font-style:normal}.pagination a.ord.active, .pagination a.ord.active:hover, .pagination a:hover{background-color:rgba(0, 132, 104, 1);border-color:rgba(0, 132, 104, 1)}.mp-nav-section-preview h3{font-size:100%}.mp-title h2, .events_list h3{font-family:"neuzeit-grotesk",sans-serif;font-weight:normal;font-size:100%;color:rgba(0, 132, 104, 1);font-style:normal}.mp-layout-sprocket.mp-grid-4 .mp-cal .mp-event-item h3{font-size:110%}.mp-loc-url a, .buy_url a, .location-reservation, .reserve{border-color:rgba(0, 132, 104, 1)}.mp-grid-3 .mp-classiclist h3{font-size:120%}.osm_loc_marker, .osm_roundup_loc_marker, .mp-loc-follows .chicklet{border-color:rgba(0, 132, 104, 1)}.tabbernav a{font-size:100%}nav a, .mega-toggle, .roundup-object .number, .roundup-location .number{color:rgba(0, 132, 104, 1)}.loc_info h4{font-size:150%}.ui-tabs-nav .ui-state-default, .mp-filterbar-checkboxmenu-title, .mp-feats{font-family:"neuzeit-grotesk",sans-serif;font-weight:normal;font-style:normal}label{font-size:70%}.mp-grid-4 .mp-classiclist h3{font-size:120%}.event_marker:before, .osm_event_marker:before, .mp-a11y-tool.open #mp-a11y-menu{border-top-color:rgba(0, 132, 104, 1)}button{font-size:110%}h2{font-size:220%}#side .mp-classiclist .mp-list-item h3{font-size:120%}h3{font-size:150%}.content p{line-height:150%}.curr_loc_marker:before, .loc_marker:before, .osm_loc_marker:before, .osm_roundup_loc_marker:before{border-top-color:rgba(0, 132, 104, 1)}body, p, .content li, input, pre, .media-content h2, input, textarea, select{font-family:"capitolium-news-2",serif;font-size:100%}.mp-text:before, .loc_info:before, .event_info:before, #title:before, #related h4:before, .mp-result h4:before, .mp-cal .mp-infos.mp-location a{font-family:"neuzeit-grotesk",sans-serif;font-weight:normal;font-style:normal;color:rgba(0, 132, 104, 1)}.event_title+a{font-size:110%}.field.event_tags legend{font-size:70%}.sectiontitle h1{font-size:180%}.event_info h4{font-size:150%}.event_marker, .mp-bubble-content, button, .mp-button, input.form_submit, input.btn, .mp-filterbar-menu .active, .mp-filterbar-textbar.mp-has-filters:before, .reset, .submit_event, .mp-view-more, .view_more, .mp-goto-search, .toggle_view, .flatpickr-day.selected.startRange, .flatpickr-day.inRange, .flatpickr-day.inRange.prevMonthDay, .flatpickr-day.inRange.nextMonthDay, .flatpickr-day.selected.endRange, .mp-a11y-toggle, .mp-a11y-menuitem a.active{background-color:rgba(0, 132, 104, 1)}h1{font-size:270%}.mp-grid-6 .mp-carousel h3{font-size:150%}.mp-grid-12 .mp-grid-12 .mp-carousel .mp-description{font-size:125%}.marker-cluster-small div, .marker-cluster-medium div{background-color:#000000}button, .flatpickr-current-month, input.btn, .reset, .submit_event, .mp-view-more, .view_more, .mp-goto-search, .mp-button, .toggle_view{font-family:"neuzeit-grotesk",sans-serif}.mp-grid-9 .mp-carousel .mp-description{font-size:120%}.mp-grid-4 .mp-carousel h3{font-size:130%}.media-content p{font-size:95%}.mp-grid-6 .mp-carousel .mp-description{font-size:100%}.roundup-object .number{font-size:150%}.mp-carousel .mp-description{line-height:130%}.mp-grid-8 .mp-grid-6 .mp-carousel h3{font-size:130%}.mp-h2-header h2{font-family:"neuzeit-grotesk",sans-serif;font-style:normal;font-size:130%}.mp-h2-header{border-color:rgba(0, 132, 104, 1)}.mp-cal .mp-event-item h3{font-size:110%}.mp-grid-3 .mp-carousel h3{font-size:130%}header .eventinfos .datetime{font-size:130%}.content blockquote::before, .mp-feats{color:rgba(0, 132, 104, 1)}h1 a, h2 a, h3 a, h4 a, legend{color:#000000}.subtitle{font-size:120%}.roundup-location .number{font-size:150%}h4{font-size:140%}.mp-grid-9 .mp-grid-8 .mp-carousel h3{font-size:150%}legend{font-size:125%}a, .mp-dropbtn{color:rgba(0, 132, 104, 1)}.mp-carousel h3{font-size:250%}.mp-grid-8 .mp-carousel .mp-description{font-size:120%}h1, h2, h3, h4, .roundup-object .number, .roundup-location .number, legend{font-family:"adelle",serif;font-weight:bold;font-style:normal}.mp-title h2 a{color:rgba(0, 132, 104, 1)}.mp-grid-12 .mp-grid-12 .mp-classiclist h3{font-size:200%}.content q{font-family:"adelle",serif;font-weight:bold;font-size:100%;color:rgba(0, 132, 104, 1)}.mp-cal .mp-event-item .mp-description{font-size:90%}.mainnav, .subnav{font-size:100%}.mp-slider .mp-text h3{font-size:120%}.media-content h2{font-size:100%}@media only screen and (max-width:48em){.mp-layout-sprocket .mp-description{font-size:100%}button{font-size:100%}.mp-slider ul .mp-list-item .mp-text h3{font-size:110%}.mp-grid-12 .mp-grid-12 .mp-carousel p.mp-description{font-size:100%}#topnav .pull{background-color:#000000}.mp-layout-sprocket .mp-carousel p.mp-description{font-size:100%}h1{font-size:200%}.mp-layout-sprocket h3{font-size:150%}}body:not(.mp-type-event) article .lead:first-letter {
  font-size: 5rem;
  font-family: "adelle",serif;
  line-height: 115%;
  padding: .1rem .15rem 0;
  color: #000000;
  float: left;
  position: relative;
  margin-right: .5rem;
  margin-bottom: -.5rem;
}
#topnav .mainnav {
  display: flex;
  justify-content: center;
}
#topnav.fixed .mp-sticky-logo {
  left: 0;
  right: auto;
  text-align: left;
}
@media only screen and (min-width: 80em) {
    #topnav.fixed .mp-sticky-logo {
      left: calc((100% - 1280px) / 2);
    }
  }
.chicklets {
  display: flex;
  justify-content: center;
}
#logo .chicklets, #topnav .mega-menu .chicklets {
  display: none !important;
}
@media only screen and (max-width: 48em){
  #logo #CSE, #logo #mp-search-bar { display: none }
}
nav li>a, #textnav, .featured .loc_info:before,
.mp-sponsored .mp-text:before,
.mp-sponsored .loc_info:before,
.mp-sponsored .event_info:before,
.mp-sponsored #title:before,
.mp-result.mp-sponsored h4:before,
#related .mp-sponsored h4:before,
.ui-tabs-nav .ui-state-default,
.mp-title h2,
.mp-h2-header h2,
.sidebartitle h3,
.events_list h3,
.tags a,
.mp-tagcloud-list a,
.tagcloud-list a {
  text-transform: uppercase;
  letter-spacing: .05em;
}
button, .mp-button, .flatpickr-current-month, .reset, .submit_event,
.mp-view-more, .mp-goto-search, .view_more,
.pagination .next,
.pagination .prev,
.ord, .submit,
input.form_submit,
.tags a, .mp-tagcloud-list a, .tagcloud-list a, .mp-infos.mp-section,
.mp-feature #title:before,
.mp-loc-url a, .buy_url a, .location-reservation, .reserve {
  border-radius: 2px;
}
.ui-tabs-nav .ui-state-default {
  border-radius:  2px 2px 0 0;
}
.mp-a11y-toggle {
  border-radius:  0 2px 2px 0;
}
.logo .header_links a {
  color: rgba(0, 157, 118, 1);
}
.search.submit {
  background-color: rgba(0, 157, 118, 1);
}
.logo > a .standard {
  height: 155px;
  width: auto;
}
#breadcrumbs{display:none}
.mp-section-wrapper .RSS_link{top:0}
#bottom {
  background-color: rgba(0, 0, 0, 1);
}
#bottomnav a, #textnav a, #copyright p, #mp_credits, #mp_credits a {
  color: rgba(255, 255, 255, 1);
}
@media only screen and (min-width: 48.07em) {
  #topnav.fixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
  }
  #topnav.fixed .mp-sticky-logo {
    opacity: 1;
    visibility: visible;
  }
}
body {
  max-width: 100%;
  width: 100%;
}
#top {
  margin: 0;
}
#bottom {
  box-shadow: 0 -2px 1px #efefef;
}
#topnav {
  max-width: 100%;
  box-shadow: 0 2px 3px -1px rgba(51,51,51,.3);
  }
#topnav .mainnav {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  }
@media only screen and (min-width: 80em) {
  .mp-section-wrapper .RSS_link {
    right: calc((100% - 1248px) / 2);
  }
}
@media only screen and (max-width: 34em) {
  .header_links {
    display: none;
  }
}nav#topnav {
  border-top-width: 5px;
}
nav#topnav {
  border-top-color: rgba(0, 132, 104, 1);
}
nav#topnav {
  border-bottom-width: 0px;
}
#top {
  background-color: rgba(255, 255, 255, 1);
}
@media only screen and (min-width: 48.07em) {
  #topnav, .subnav, .subnav_nested, .mega-menu {
    background-color: rgba(255, 255, 255, 1);
  }
}
@media only screen and (max-width: 48em) {
  #topnav, #topnav .pull {
    background-color: rgba(255, 255, 255, 1);
  }
}
nav#topnav {
  border-bottom-color: rgba(255, 255, 255, 1);
}
#topnav a:hover, #topnav .selected>a, .subnav_nested.open {
  color: rgba(0, 132, 104, 1);
}
@media only screen and (min-width: 48.07em) {
  #topnav a {
    color: rgba(0, 0, 0, 1);
  }
}
@media only screen and (max-width: 48em) {
  #topnav a, #topnav .pull {
    color: rgba(0, 0, 0, 1);
  }
}
/* special containers */
.greenbox>.mp-container-wrapper {
  background-color: #deeae6;
  margin: 0 1.2em;
}
.fullwidth {
  background-color: #deeae6;
  max-width: 100%;
}
.clear {
  max-width: 100%;
}
.greenbox .mp-title h2,
.fullwidth .mp-title h2 {
  border-top: none;
}
#side .mag-cover.mp-gallery {
  background-color: #deeae6;
  padding: 0 1.2em;
}
/* full width container */
.mp-type-homepage main,
.mp-type-section main,
.mp-type-subsection main {
  max-width: 100%;
}

/* magazine cover */
.mag-cover.mp-gallery .mp-thumb a img,
.mag-cover.mp-slider .mp-thumb a img{
  aspect-ratio: .77;
  --ls-ratio: 1.3;
}
.mag-cover.mp-gallery .mp-thumb a,
.mag-cover.mp-slider .mp-thumb a {
  padding-bottom: 130%;
}
.mag-cover .mp-6item-list,
.mag-cover .mp-3item-list {
  display: flex;
  flex-flow: row wrap;
}
.mag-cover .mp-6item-list .mp-list-item,
.mag-cover .mp-3item-list .mp-list-item {
  width: auto !important;
  flex: 1 0 16.5%;
}
@media only screen and (min-width: 32em) and (max-width: 48em) {
  .mag-cover .mp-6item-list .mp-list-item,
  .mag-cover .mp-3item-list .mp-list-item {
    flex: 1 0 33%;
  }
}
@media only screen and (max-width: 32em) {
  .mag-cover .mp-6item-list .mp-list-item,
  .mag-cover .mp-3item-list .mp-list-item {
    flex: 1 0 50%;
  }
  .mag-cover .mp-3item-list .mp-list-item:last-child {
    display: none;
  }
}
.mag-cover.mp-gallery h3 {
  font-size: 90%;
}
#side .mag-cover.mp-gallery h3 {
  text-align: center;
}
#side .mag-cover.mp-gallery .mp-list-item {
    flex: 1 0 50%;
    padding: 1.2em .6em;
}
.mp-section-wrapper .RSS_link {
  display: none;
}
/* remove overlay on carousel */
.mp-carousel .mp-thumb a:after {
  background: none;
}
.mp-carousel .mp-text {
  position: static;
  padding: 1.2em 0 0;
}
.mp-carousel .mp-text .mp-description,
.mp-carousel .mp-text a {
  color: inherit;
}
.mp-carousel .mp-infos:first-of-type {
  margin-left: 0;
}

/* carousel aspect ratio on mobile */
@media only screen and (max-width: 450px) {
  .mp-carousel .mp-thumb a img {
      --ls-ratio: .6667;
  }
  .mp-carousel .mp-thumb {
    padding-bottom: 66.67%;
  }
}
/* button styling */
.button {
  padding: .5em 1em;
  margin: 1em auto;
  display: block;
  max-width: max-content;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .5px;
  font-family: "neuzeit-grotesk",sans-serif;
  font-size: 80%;
  background-color: #008468;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* newsletter elements */
.newsletter-signup {
  padding: 1.5em;
  background-color: #d9d9d9;
  text-align: center;
}
.newsletter-signup form {
  text-align: center;
  margin-top: 1em;
}
.mp-grid-4 .newsletter-signup,
.mp-grid-3 .newsletter-signup,
aside .newsletter-signup {
  text-align: left;
}
.mp-grid-4 .newsletter-signup form,
.mp-grid-3 .newsletter-signup form,
aside .newsletter-signup form{
  text-align: left;
}
.mp-grid-4 .newsletter-signup .button,
.mp-grid-3 .newsletter-signup .button,
aside .newsletter-signup .button{
  margin: 1em 0 0;
}
.newsletter-signup .icon {
  width: 32px;
  height:32px;
}
.icon {
  width: 24px;
  height:24px;
}
/* icon next to button */
.icon-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: .5em 0;
}
.icon-buttons .button {
  margin: 0 .5em;
}
/* subscribe box & current issue */
.subscribe-box {
  border: 1px solid #39826a;
  padding: 1.2em;
}
.subscribe-box .mp-title {
  padding: 0;
}
.subscribe-box .mp-title h2 {
  border: 0;
  padding-bottom: .6rem;
}
.subscribe-box h3 {
  font-size: 130%;
}
/* special styling for content */
.mp-feature #title {
  position: relative;
  padding-top: 1.2em;
}
@media only screen and (max-width: 48em) {
  .mp-feature #title {
    padding-bottom: 0;
  }
}
.mp-feature .mp-cover-img figure:before {
  background: none;
}
.mp-feature #title * {
  color: #000;
}
body:not(.mp-type-event) article .lead:first-letter {
  line-height: 95%;
}
#title {
  max-width: 75vw;
  margin: auto;
}
.content pre {
  font-family: "capitolium-news-2",serif;
  margin-bottom: 1.2em;
}
.content q {
  width: 100%;
  padding: 1.5em;
  background-color: #deeae6;
  font-weight: normal;
}
.content q:before,
.content q:after {
  font-family: "capitolium-news-2",serif;
  font-size: 6em;
  font-weight: normal;
  line-height: 0;
  margin: .4em 0 .2em;
  color: #39826a;
  display: block;
  text-align: center;
}
.content q:after {
  margin: .5em 0 0;
}
.content blockquote {
  padding: 1.6em 2em 1.6em 0;
  margin: .6em 2.6em 1em 0;
  font-family: "Adelle", sans-serif;
  border-top: 3px solid #39826a;
  border-bottom: 3px solid #39826a;
  width: 45%;
  float: left;
}
.content blockquote p,
.content q {
  font-size: 130%;
  font-weight: bold;
  color: #000;
}
.content blockquote:before {
  content: none;
}
.content hr {
  margin: 1.2em auto;
  opacity: 0;
}

.content hr + p:first-letter {
  float: left;
  font-size: 3rem;
  font-family: "Adelle", sans-serif;
  margin-top: 0.75rem;
  margin-right: 0.2rem;
}
body, p, .content li, input, .mp-loc-hours pre, .media-content h2 {
  font-size: 105%;
}
.content p, .content li {
  line-height: 175%;
}
.content p a, .content li a {
  color: #39826a;
  border-bottom: none;
}
@media only screen and (max-width: 32em) {
  .mp-feature .mp-cover-img {
    --ls-ratio: .5625;
    padding-bottom: 56.25%;
  }
  .content blockquote {
    padding: 1.5em 2em;
    margin: 1em 0;
    float: none;
    width: 100%;
  }
}

/* move comments up */
article#main,
.mp-sidebar article#main {
  display: inline-flex;
  flex-flow: column;
}
@media only screen and (max-width: 48em) {
  article#main,
  .mp-sidebar article#main {
  	display: flex;
	}
}
article * {
  order: 0;
}
article #comments {
  order: 1;
}
article #related {
  order: 2;
}

/* columns flags - tag method */
.unequal-justice #title:before,
.unequal-justice .mp-text:before{
    content: "Unequal Justice";
}
.smart-ass-cripple #title:before,
.smart-ass-cripple .mp-text:before{
    content: "Smart Ass Cripple";
}
.other-americans #title:before,
.other-americans .mp-text:before{
    content: "The Other Americans";
}
.foreign-correspondent #title:before,
.foreign-correspondent .mp-text:before{
    content: "The Foreign Correspondent";
}
.first-things #title:before,
.first-things .mp-text:before{
    content: "First Things First";
}
.hemming-hawing #title:before,
.hemming-hawing .mp-text:before{
    content: "Hemming and Hawing";
}
.once-upon-a-time #title:before,
.once-upon-a-time .mptext:before{
    content: "Once Upon a Time in America";
}
.vox-populist #title:before,
.vox-populist .mp-text:before{
    content: "Vox Populist";
}
.middle-america #title:before,
.middle-america .mp-text:before{
    content: "Middle America";
}
.edge-of-sports #title:before,
.edge-of-sports .mp-text:before{
    content: "Edge of Sports";
}
.work-wont-love #title:before,
.work-wont-love .mp-text:before{
    content: "Work Won't Love You Back";
}
.comment #title:before,
.comment .mp-text:before{
    content: "Comment";
}
.further-comment #title:before,
.further-comment .mp-text:before{
    content: "Further Comment";
}
.first-person-singular #title:before,
.first-person-singular .mp-text:before{
    content: "First Person Singular";
}
.interview #title:before,
.interview .mp-text:before{
    content: "Interview";
}
.book-review #title:before,
.book-review .mp-text:before{
    content: "Book Review";
}
.film-review #title:before,
.film-review .mp-text:before{
    content: "Film Review";
}
.cartoon #title:before,
.cartoon .mp-text:before{
    content: "Cartoon";
}
.book-excerpt #title:before,
.book-excerpt .mp-text:before{
    content: "Book Excerpt";
}
.one-question #title:before,
.one-question .mp-text:before {
    content: "One Question";
}
.on-the-line #title:before,
.on-the-line .mp-text:before{
    content: "On the Line";
}
.unequal-justice header #title:before,
.smart-ass-cripple header #title:before,
.other-americans header #title:before,
.foreign-correspondent header #title:before,
.first-things header #title:before,
.hemming-hawing header #title:before,
.once-upon-a-time header #title:before,
.vox-populist header #title:before,
.middle-america header #title:before,
.edge-of-sports header #title:before,
.work-wont-love header #title:before,
.comment header #title:before,
.further-comment header #title:before,
.first-person-singular header #title:before,
.interview header #title:before,
.poetry header #title:before,
.book-review header #title:before,
.film-review header #title:before,
.cartoon header #title:before,
.book-excerpt header #title:before,
.one-question header #title:before,
.on-the-line header #title:before {
    line-height: 0;
    display: inline-block;
    padding: 0 0.75rem;
    background: transparent;
    color: white;
    height: 0;
    text-transform: uppercase;
    border-right: 10px solid transparent;
    border-top: 17px solid red;
    border-bottom: 16px solid red;
}
.unequal-justice .mp-text:before,
.smart-ass-cripple .mp-text:before,
.other-americans .mp-text:before,
.foreign-correspondent .mp-text:before,
.first-things .mp-text:before,
.hemming-hawing .mp-text:before,
.once-upon-a-time .mp-text:before,
.vox-populist .mp-text:before,
.middle-america .mp-text:before,
.edge-of-sports .mp-text:before,
.work-wont-love .mp-text:before,
.comment .mp-text:before,
.further-comment .mp-text:before,
.first-person-singular .mp-text:before,
.interview .mp-text:before,
.poetry .mp-text:before,
.book-review .mp-text:before,
.film-review .mp-text:before,
.cartoon .mp-text:before,
.book-excerpt .mp-text:before,
.one-question .mp-text:before,
.on-the-line .mp-text:before {
  line-height: 0;
  display: inline-block;
  padding: 0 0.35rem;
  background: transparent;
  color: white;
  height: 0;
  font-size: .7rem;
  text-transform: uppercase;
  border-right: 10px solid transparent;
  border-top: 11px solid red;
  border-bottom: 10px solid red;
}
/* search in nav */
@media only screen and (min-width: 48em) {
  #logo #mp-search-bar, #logo #CSE {
    display: none;
  }
  .search-box {
    position: relative;
    margin-left: .6rem;
    width: 20px;
  }
  .search-toggle {
    background: transparent url('search-icon.svg') no-repeat;
    height: 18px;
    margin-top: .8em;
  }
  #CSE .search.submit,
  #mp-search-bar .search.submit {
    display: none;
  }
  #mp-search-bar, #CSE {
    top: 3em;
    right: 0;
  }
}
/* special HTML callout box */
.special-inset {
  padding: 1.2em;
  background-color: #dfdfdf;
}
.special-inset>div {
  display: inline-block;
  vertical-align: top;
}
.special-inset .image {
  width: 30%;
  padding-right: 1.2em;
}
.special-inset .image img {
  width: 100%;
}
.special-inset .text {
  width: 66%;
}
.green {
  background-color: #deeae6;
}
  
@media only screen and (max-width: 36em) {
  .special-inset>div {
    display: block;
  }
  .special-inset .image,
  .special-inset .text {
    width: 100%;
  } 
  .special-inset .image {
    padding: 0 0 .6em 0;
    line-height: 0;
  }
}

/* Custom Footer */
#bottom .chicklets {
  justify-content: flex-start;
}
.custom-footer-html {
  max-width: 80rem;
  margin: 1em auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.custom-footer-html .column {
  padding: 0.6em;
  flex-basis: 25%;
  vertical-align: top;
}
.custom-footer-html .column li {
  font-size: 95%;
  line-height: 1.7;
}
.custom-footer-html h3,
.custom-footer-html p,
.custom-footer-html a {
  color: #fff;
}
.custom-footer-html h4 {
color: #39826a;
}
.custom-footer-html .chicklets {
    padding-bottom: 1em;
}
.custom-footer-html .chicklet {
  filter: invert(30%) sepia(80%) saturate(809%) hue-rotate(128deg) brightness(105%) contrast(101%);
  border: 1px solid #000;
  border-radius: 100%;
  margin-right: .5em;
}
.custom-footer-html .newsletter-signup {
  margin: 0;
  padding: 0.4em 0;
  border: 0;
  background-color: transparent;
  text-align: left;
}
.custom-footer-html .newsletter-signup p {
  font-style: italic;
}
.custom-footer-html #mc_embed_signup form {
  padding: 1em 0;
}
.custom-footer-html .email {
  margin-right: 0;
  height: 36px;
  box-sizing: border-box;
  padding: 0;
}

.custom-footer-html .donate.button {
  border: 1px solid #39826a;
  color: #39826a;
  background-color: transparent;
  margin: 0 0 1em;
}
.custom-footer-html #mc-embedded-subscribe.button {
  font-family: "neuzeit-grotesk",sans-serif;
  font-weight: normal;
  background-color: #39826a;
  border-radius: 0;
  font-size: 0.8rem;
  margin: 1em 0 0;
}
.custom-footer-html .footer-text {
  flex-basis: 100%;
}
.custom-footer-html .footer-text, #copyright p {
  text-align: center;
  font-size: 85%;
  line-height: 1;
}
#copyright {
  margin-top: 0;
}
@media screen and (max-width: 48em) {
  .custom-footer-html .column {
    flex-basis: 50%;
  }
  .mp-classiclist .mp-list-item h3,
  .mp-grid-12 .mp-grid-12 .mp-classiclist h3 {
    font-size: 150%;
  }
}  
@media screen and (max-width: 32em) {
  .custom-footer-html .column {
    flex-basis: 100%;
    margin-bottom: .5em;
    }
  .custom-footer-html {
    margin: 1em 1em 0;
    }
  #copyright {
    margin: 0 1em;
  }
  .mp-classiclist .mp-list-item .mp-thumb {
    float: left;
    margin: 0 .6rem 0 0;
  }
  .mp-classiclist .mp-list-item .mp-description {
    display: none;
  }
}